<div class="card team shadow-sm <%= 'with-rank' if defined?(with_rank) && with_rank %>">
  <div class="card-body">
    <% if defined?(with_rank) && with_rank %>
      <div class="rank">
        #<%= team.rank(
          is_online: defined?(is_online) && is_online,
          year: defined?(year) && year) %>
      </div>
    <% end %>
    <div class="team-players-count">
      <i class="fas fa-users"></i>
      <%= team.players.count %>
    </div>
    <%= link_to(team, class: 'team-link') do %>
      <%= team.avatar_tag(64) %>
      <div class="team-name-and-tags">
        <div>
          <%= team.full_name %>
        </div>
        <div>
          <%= team.badges %>
        </div>
      </div>
    <% end %>
    <% if defined?(with_points) && with_points %>
      <div class="team-points">
        <%= team.points_count(
          32,
          is_online: defined?(is_online) && is_online,
          year: defined?(year) && year) %>
      </div>
    <% end %>
  </div>
  <%= admin_edit_link(team) %>
</div>
