<div class="card team shadow-sm">
  <div class="card-body">
    <div class="team-players-count">
      <i class="fas fa-users"></i>
      <%= team.players.count %>
    </div>
    <%= link_to(team, class: 'team-link') do %>
      <%= team.any_image_tag(max_width: 64, max_height: 64) %>
      <div class="team-name-and-tags">
        <div>
          <%= team.full_name %>
        </div>
        <div>
          <%= team.badges %>
        </div>
      </div>
    <% end %>
  </div>
  <%= admin_edit_link(team) %>
</div>
