<div class="container-lg">
  <article class="show-page">
    <%= render 'header', team: team %>

    <section class="show-page-body card">
      <div class="show-page-content card-body">

        <%= simple_form_for(@team) do |f| %>

          <%= render 'shared/form_errors', f: f %>

          <div class="row">
            <div class="col-8">

              <section class="show-page-section">
                <div class="show-page-section-title">
                  <h2>Infos clé</h2>
                  <span class="show-page-section-title-separator"></span>
                </div>
                <div class="show-page-section-content">
                  <%= f.input :short_name %>
                  <%= f.input :name %>
                  <%= f.input :is_offline %>
                  <%= f.input :is_online %>
                  <%= f.input :is_sponsor %>
                  <%= f.input :twitter_username %>
                  <%= players_input f, name: :player_ids, value: f.object.players %>
                </div>
              </section>

              <section class="show-page-section mt-5">
                <div class="show-page-section-title">
                  <h2>Autres infos</h2>
                  <span class="show-page-section-title-separator"></span>
                </div>
                <div class="show-page-section-content">
                  <%= f.input :website_url %>
                  <%= f.input :creation_year %>
                  <%= f.input :is_recruiting %>
                  <%= f.input :recruiting_details, as: :simple_action_text %>
                  <%= f.input :description, as: :simple_action_text %>
                </div>
              </section>

            </div>

            <div class="col-4">

              <section class="show-page-section">
                <div class="show-page-section-title">
                  <h2>Logo</h2>
                  <span class="show-page-section-title-separator"></span>
                </div>
                <div class="show-page-section-content">
                  <div class="panel current-image my-3" id="current-logo">
                    <div class="panel_contents img-fluid-container">
                      <%= f.object.decorate.logo_image_tag %>
                    </div>
                  </div>
                  <%= f.input :logo,
                              as: :file,
                              label: false,
                              hint: 'Laissez vide pour ne pas changer',
                              input_html: {
                                accept: 'image/*',
                                data: {
                                  previewpanel: 'current-logo'
                                }
                              } %>
                </div>
              </section>

              <section class="show-page-section mt-5">
                <div class="show-page-section-title">
                  <h2>Roster</h2>
                  <span class="show-page-section-title-separator"></span>
                </div>
                <div class="show-page-section-content">
                  <div class="panel current-image my-3" id="current-roster">
                    <div class="panel_contents img-fluid-container">
                      <%= f.object.decorate.roster_image_tag %>
                    </div>
                  </div>
                  <%= f.input :roster,
                              as: :file,
                              label: false,
                              hint: 'Laissez vide pour ne pas changer',
                              input_html: {
                                accept: 'image/*',
                                data: {
                                  previewpanel: 'current-roster'
                                }
                              } %>
                </div>
              </section>

            </div>
          </div>

          <div class="form-actions text-center my-5">
            <%= link_to 'Annuler', @team, class: 'btn btn-secondary mr-3' %>
            <%= f.button :submit, 'Valider', class: 'btn btn-primary' %>
          </div>

        <% end %>

      </div>
    </section>
  </article>
</div>
