<div class="text-center">
  <div id="list-toolbar">
    <h1 class="page-title">Observatoire d'Harmonie des équipes</h1>

    <div id="filters-wrapper" class="text-left">

      <%= form_tag nil, method: :get, id: "index-filters" do %>

        <div class="form-row">

          <div class="col-md-2"></div>

          <div class="col-12 col-md-9">
            <%= render 'shared/ranking_filters' %>
          </div>

        </div>

      <% end %>
    </div>

    <%= render 'shared/pagination', collection: @teams %>
  </div>
</div>

<div class="cards-list teams">
  <% @teams.each_with_index do |team, idx| %>
    <div class="card-container">
      <%= render 'teams/team',
                 team: team.decorate,
                 with_rank: true,
                 with_points: true,
                 is_online: defined?(@is_online) && @is_online,
                 year: defined?(@year) && @year %>
    </div>
  <% end %>
</div>

<%= render 'shared/pagination', collection: @teams %>
