<% has_alt_rank = @fr_only %>

<div class="container-xl mt-md-3 mt-xxl-4 mt-xxl-4">
  <div class="row flex-nowrap align-items-start flex-column flex-lg-row">
    <%= render 'layouts/application_v2/rankings/index_nav' %>
    <div class="col">
      <div class="row flex-xl-nowrap flex-column flex-lg-row align-items-start">
        <div class="col-12 d-block d-xl-none">
          <h1 class="page-title index-title mt-2 mt-sm-4">Observatoire d'Harmonie <strong class="text-white">équipe</strong></h1>
        </div>
        <div id="index-filters" class="col-12 col-xl-auto order-xl-1">
          <section class="index-section my-1 my-sm-2 my-md-3 mt-xl-0 py-1 pl-3 pr-1 py-md-2 pr-md-2 pl-md-2 py-xl-0 px-xl-0 d-flex d-xl-block align-items-center shadow-lg bg-bg bg-lg-none rounded-pill">
            <small class="text-muted d-inline-block d-xl-none"><%= @teams.total_count %> résultat(s)</small>
            <button @click="filtersVisible = true" type="button" class="btn btn-dark btn-sm btn-with-icon rounded-pill teams ml-auto<%= ' active' if params[:on_abc] %> d-flex d-xl-none">
              <%= svg_icon_tag :filtre %> Filtres
            </button>
            <slide-out dock="bottom" :visible.sync="filtersVisible" :size="[0]" :arrow-button="false" title="Filtres">
              <template #header>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="m-0">
                    <%= svg_icon_tag :filtre %> Filtres
                  </p>
                  <button @click="filtersVisible = false" type="button" class="btn btn-sm btn-icon rounded-circle ml-3">
                    <%= svg_icon_tag :croix %>
                    <span class="sr-only">Fermer</span>
                  </button>
                </div>
              </template>
              <section>
                 <%= render 'filters_ranking' %>
              </section>
            </slide-out>
          </section>
        </div>
        <div class="col mt-4 mt-sm-2 mt-xl-0" has-alt-rank="<%= has_alt_rank %>">
          <div class="ranking-banners d-none d-xl-block">
            <%= image_tag 'banniere_g.svg', class: 'ranking-banner ranking-banner-left' %>
            <%= image_tag 'banniere_d.svg', class: 'ranking-banner ranking-banner-right' %>
          </div>
          <h1 class="page-title index-title d-none d-xl-block">Observatoire d'Harmonie <strong class="text-white">équipe</strong></h1>
          <section class="py-3 d-none d-xl-flex flex-wrap align-items-center">
            <small class="text-muted"><%= @teams.total_count %> résultat(s)</small>
            <div class="ml-auto">
              <%= render 'shared/pagination_v2', collection: @teams %>
            </div>
          </section>
          <div class="ranking-header">
            <span>Place</span>
            <span>Equipe</span>
            <span class="text-center">Nb. Joueurs</span>
            <span>Fragments</span>
          </div>
          <div class="ranking-list list">
            <% @teams.each_with_index do |team, index| %>
              <%= render  'teams/team_ranking',
                          team: team.decorate,
                          year: @year,
                          is_online: @is_online,
                          with_points: true,
                          rank: has_alt_rank ? index + 1 + ((params[:page] || 1).to_i - 1) * 25 : nil %>
            <% end %>
          </div>
          <div class='my-4'>
            <%= render 'shared/pagination_v2', collection: @teams %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
