<div class="big-numbers">

  <div class="big-number txt-blue">
    <div class="big-number--value">
      <%= @tournament_events_count %>
    </div>
    <div class="big-number--title">
      <%= pluralize_without_count @tournament_events_count, 'Tournoi' %>
    </div>
  </div>

  <div class="big-number txt-rose">
    <div class="big-number--value">
      <%= @player_reward_conditions_count %>
    </div>
    <div class="big-number--title">
      <%= pluralize_without_count @player_reward_conditions_count, 'Récompense' %>
    </div>
  </div>

  <div class="big-number txt-green">
    <div class="big-number--value">
      <%= @points_total %>
    </div>
    <div class="big-number--title">
      <%= pluralize_without_count @points_total, 'Point' %>
    </div>
  </div>

</div>

<div class="text-center" style="margin-bottom: 30px">
  <% @rewards_counts.each_pair do |reward_id, count| %>
    <% reward = Reward.find(reward_id).decorate %>
    <%= reward.badge(count: count) %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th class="text-center">Série</th>
      <th class="text-center">Édition</th>
      <th class="text-center">Date</th>
      <th class="text-center">Participants</th>
      <th class="text-center">Résultat</th>
      <th class="text-center">Badge</th>
      <th class="text-center">Points</th>
    </tr>
  </thead>
  <tbody>
    <% @tournament_events.each do |tournament_event| %>
      <% player_reward_condition = tournament_event.player_reward_conditions.by_player(@player).first&.admin_decorate %>
      <tr>
        <th class="text-center"><%= tournament_event.recurring_tournament_admin_link %></th>
        <th class="text-center"><%= tournament_event.admin_link %></th>
        <td class="text-center"><%= tournament_event.date %></td>
        <td class="text-center"><%= tournament_event.participants_count %></td>
        <td class="text-center"><%= tournament_event.player_rank_name(@player.id) %></td>
        <td class="text-center"><%= player_reward_condition.reward_admin_link %></td>
        <td class="text-center"><%= player_reward_condition&.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
