<article class="resource duo d-flex">
  <div class="resource-avatar card">
    <%= link_to duo.player1.decorate.avatar_tag(76), duo.player1 %>
  </div>
  <div class="resource-avatar card">
    <%= link_to duo.player2.decorate.avatar_tag(76), duo.player2 %>
  </div>
  <div class="resource-content card flex-grow-1<%= 'with-rank' if defined?(with_rank) && with_rank %>">
    <div class="card-body d-flex">
      <div class="resource-meta flex-grow-1">
        <h5 class="resource-title card-title text-truncate">
          <%= link_to duo.name, duo %>
        </h5>
      </div>
      <%= link_to duo, class: 'resource-link' do %>
        <span class="sr-only">Voir plus</span>
      <% end %>
    </div>
    <%= admin_edit_link(duo) %>
  </div>
</article>
