<div class="container-lg">
  <% if admin_user_signed_in? %>
    <div class="actions">      <%= admin_edit_link(duo, label: 'Admin', class: 'btn btn-sm btn-light rounded-pill') %>
    </div>
  <% end %>
  <article class="show-page">
    <section class="show-page-header card">
      <div class="show-page-header-bg" style="background-color: #ee647d;"></div>
      <div class="show-page-header-body card justify-content-start">
        <div class="show-page-header-content card-body">
          <div class="show-page-avatar duo">
            <% if duo.is_legit? %>
              <%= duo.player1.decorate.avatar_tag(94) %>
              <%= duo.player2.decorate.avatar_tag(94) %>
            <% end %>
          </div>
          <div class="show-page-main-info">
            <h1 class="show-page-title card-title">
              <% if duo.is_legit? %>
                <%= link_to duo.name, duo %>
              <% else %>
                -
              <% end %>
            </h1>
            <% if duo.is_legit? %>
              <small class="list-players duo-players">
                <%= duo.player1.decorate.link(label: duo.player1.name, class: 'list-player') %>
                <%= duo.player2.decorate.link(label: duo.player2.name, class: 'list-player') %>
              </small>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <nav class="show-page-nav section-nav players d-lg-none">
      <div class="section-nav-wrapper">
        <scrollactive
          ref="scrollactive"
          :active-class="'active'"
          :offset="116"
        >
          <div class="section-nav-bg shadow-lg">
          <%= link_to duo_path(duo, anchor: 'statistiques'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :duo %>
              <span>Statistiques</span>
            <% end %>
            <%= link_to duo_path(duo, anchor: 'palmares'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :groupe %>
              <span>Palmarès</span>
            <% end %>
          </div>
        </scrollactive>
      </div>
    </nav>
    <section class="show-page-body card">
      <div class="show-page-content card-body">
        <div class="row">
          <section id="statistiques" class="show-page-section col-lg-6">
            <div class="show-page-section-title">
              <h2>Statistiques</h2>
              <span class="show-page-section-title-separator"></span>
            </div>
            <div class="show-page-section-body d-block d-md-none">
              <%= render 'shared/rewards/rewards', awarded: duo %>
            </div>
            <h3 class="show-page-section-subtitle h6 d-none d-md-inline-block px-2 py-1 bg-layout rounded-pill"><%= svg_icon_tag(:online) %>&nbsp;Online</h3>
            <div class="show-page-section-body show-page-section-body--with-bg d-none d-md-block">
              <%= render 'shared/rewards/reward_by_type', rewards_counts: @online_rewards_counts, awarded: duo, is_online: true, modal_id: 'online-rewards-modal-desktop' %>
              <%= render 'shared/rewards/badges_modal', all_rewards: @all_online_rewards, rewards_counts: @online_rewards_counts, awarded: duo, is_online: true, modal_id: 'online-rewards-modal-desktop' %>
            </div>
            <h3 class="show-page-section-subtitle h6 d-none d-md-inline-block px-2 py-1 bg-layout rounded-pill mt-3"><%= svg_icon_tag(:offline) %>&nbsp;Offline</h3>
            <div class="show-page-section-body show-page-section-body--with-bg d-none d-md-block">
              <%= render 'shared/rewards/reward_by_type', rewards_counts: @offline_rewards_counts, awarded: duo, is_online: false, modal_id: 'offline-rewards-modal-desktop' %>
              <%= render 'shared/rewards/badges_modal', all_rewards: @all_offline_rewards, rewards_counts: @offline_rewards_counts, awarded: duo, is_online: false, modal_id: 'offline-rewards-modal-desktop' %>
            </div>
          </section>
          <section id="palmares" class="show-page-section col-lg-6 mt-4 mt-lg-0">
            <div class="show-page-section-title">
              <h2>Palmarès</h2>
              <span class="show-page-section-title-separator"></span>
            </div>
            <div class="show-page-section-body">
              <% if @duo_tournament_events.count > 0 %>
                <% palmares = [] %>
                <% @duo_tournament_events.each do |duo_tournament_event| %>
                  <%
                  met_reward_condition = @met_reward_conditions_by_duo_tournament_event_id[duo_tournament_event.id]&.decorate
                  reward = @met_reward_conditions_by_duo_tournament_event_id[duo_tournament_event.id]&.decorate&.attributes || {}
                  tournament = duo_tournament_event&.attributes || {}
                  template = render 'shared/palmares_item',
                                    met_reward_condition: met_reward_condition,
                                    tournament_event: duo_tournament_event,
                                    awarded: @duo
                  p = reward.merge(tournament).merge({ points: met_reward_condition&.points, template: template, is_online: met_reward_condition&.reward&.online? })
                  palmares << p
                  %>
                <% end %>

                <%= render 'shared/palmares_filters', palmares: palmares %>
              <% else %>
                <p>Aucun palmarès</p>
              <% end %>
            </div>
          </section>
        </div>
      </div>
    </section>
  </article>
</div>
