<%= form_tag nil, method: :get, id: "index-filters" do %>

  <% unless is_map %>
    <%= hidden_field_tag :on_abc, params[:on_abc] %>
  <% end %>


  <h5><%= svg_icon_tag :filtre %> Niveau</h5>

  <div class="my-4">
    <% RecurringTournament::LEVELS.each do |level| %>
      <% id = "level-#{level}" %>
      <div class="custom-control custom-switch">
        <%= check_box_tag 'by_level_in[]',
                          level,
                          (params[:by_level_in] || []).include?(level),
                          class: 'custom-control-input',
                          id: id %>
        <% color = RecurringTournamentDecorator.level_color(level) %>
        <label class="custom-control-label level--<%= level %>" for="<%= id %>">
          <%= RecurringTournament.human_attribute_name("level.#{level}") %>
        </label>
      </div>
    <% end %>
  </div>


  <% unless is_map %>
    <h5><%= svg_icon_tag :filtre %> Type</h5>

    <div class="my-4">
      <% [false, true, ''].each_with_index do |v, idx| %>
        <div class="custom-control custom-radio">
          <%= radio_button_tag :by_is_online,
                                v,
                                (params[:by_is_online] || '') == v.to_s,
                                id: "radio-is-online-#{idx}",
                                class: 'custom-control-input' %>
          <label class="custom-control-label" for="radio-is-online-<%= idx %>">
            <%  case v
                when true %>Online
            <%  when false %>Offline
            <%  else %>Les 2
            <% end %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>


  <h5><%= svg_icon_tag :filtre %> Taille</h5>

  <div class="my-4">
    <div class="form-row align-items-center">
      <div class="col-3">Entre</div>
      <div class="col-auto"><%= select_tag :by_size_geq, options_for_select(planning_size_select_collection, params[:by_size_geq]), class: 'custom-select custom-select-sm' %></div>
      <div class="col-12 my-1"></div>

      <div class="col-3">et</div>
      <div class="col-auto"><%= select_tag :by_size_leq, options_for_select(planning_size_select_collection, params[:by_size_leq] || RecurringTournament::SIZES.last), class: 'custom-select custom-select-sm' %></div>
    </div>
  </div>


  <% unless is_map %>
    <h5><%= svg_icon_tag :lieu %> Communautés</h5>

    <div class="my-4">
      <%= select_tag  :by_community_id,
                      options_for_select(
                        Community.order(:name).pluck(:name, :id),
                        params[:by_community_id]
                      ),
                      prompt: 'Toutes',
                      class: 'custom-select custom-select-sm mb-2' %>
    </div>
  <% end %>


  <h5><%= svg_icon_tag :filtre %> Pause</h5>

  <div class="my-4">
    <div class="custom-control custom-radio">
      <%= radio_button_tag :by_is_not_archived,
                            0,
                            !@not_archived_only,
                            id: "filter-archived-or-not",
                            class: 'custom-control-input' %>
      <label class="custom-control-label" for="filter-archived-or-not">
        Toutes les séries
      </label>
    </div>
    <div class="custom-control custom-radio">
      <%= radio_button_tag :by_is_not_archived,
                            1,
                            @not_archived_only,
                            id: "filter-not-archived",
                            class: 'custom-control-input' %>
      <label class="custom-control-label" for="filter-not-archived">
        Masquer les séries en pause
      </label>
    </div>
  </div>

<% end %>
