<section class="show-page-header card">
  <div class="show-page-header-bg show-page-header-bg--lg"

  style="<%=
      "background-color: #{@background_color};" if @background_color
    %><%=
      "background-image: url(\"#{@background_image_url.gsub('"', "\"")}\");" if @background_image_url
    %><%=
      "background-image: url(\"#{image_url('static-bg.png').gsub('"', "\"")}\");" if @static
    %>"
  ></div>
  <div class="show-page-header-body card justify-content-start without-desktop-socials">
    <div class="show-page-header-content card-body">
      <div class="show-page-meta badge badge-pill d-inline-block">
        <%= recurring_tournament.size_or_real_size %>
        <%= svg_icon_tag :groupe %>
      </div>
      <div class="show-page-avatar">
        <%= recurring_tournament.any_image_tag(max_width: 94) %>
      </div>
      <div class="show-page-main-info">
        <h1 class="show-page-title card-title">
          <%= link_to recurring_tournament.name, recurring_tournament %>
        </h1>
        <div class="list-x mt-3">
          <%= recurring_tournament.badges_v2(with_level: true) %>
        </div>
        <small class="list-x flex-wrap">
          <% if recurring_tournament.recurring_type.to_sym == :weekly %>
            <span>
              <%= recurring_tournament.wday_text %>
            </span>
            <span>&nbsp;•&nbsp;</span>
          <% end %>
          <span>
            <%= recurring_tournament.recurring_type_text %>
          </span>
          <% if recurring_tournament.has_starts_at? %>
            <span>&nbsp;•&nbsp;</span>
            <span>
              <%= recurring_tournament.starts_at %>
            </span>
          <% end %>
        </small>
        <small class="list-x">
          <% if recurring_tournament.countrycode %>
            <small class="align-middle mr-1"><%= flag_icon_tag(recurring_tournament.countrycode) %></small>
          <% else %>
            <%= svg_icon_tag(:lieu, class: "fs-xs") %>
          <% end %>
          <% if recurring_tournament.is_online? %>
            Online
          <% else %>
            <%== recurring_tournament.full_address.presence || 'Offline' %>
          <% end %>
        </small>
      </div>
     <div class="show-page-side">
        <div class="list-y align-items-center justify-content-around">
          <%= render  'shared/page_side_links/page_side_links',
                      record: recurring_tournament,
                      # twitch_channels: recurring_tournament.twitch_channels,
                      # you_tube_channels: recurring_tournament.you_tube_channels,
                      discord_guilds: [recurring_tournament.discord_guild] %>
        </div>
      </div>
      <div class="show-page-socials bg-layout bg-md-layout-dark d-md-none">
        <div class="list-x list-x--lg align-items-center">
          <%= render  'shared/page_socials_links',
                      short: true,
                      record: recurring_tournament,
                      # twitch_channels: recurring_tournament.twitch_channels,
                      # you_tube_channels: recurring_tournament.you_tube_channels,
                      discord_guilds: [recurring_tournament.discord_guild] %>
        </div>
      </div>
    </div>
  </div>
</section>
