<section class="show-page-header card">
  <div class="show-page-header-bg show-page-header-bg--lg"

  style="<%=
      "background-color: #{@background_color};" if @background_color
    %><%=
      "background-image: url(\"#{@background_image_url.gsub('"', "\"")}\");" if @background_image_url
    %><%=
      "background-image: url(\"#{image_url('static-bg.png').gsub('"', "\"")}\");" if @static
    %>"
  ></div>
  <div class="show-page-header-body card justify-content-start without-desktop-socials">
    <div class="show-page-header-content card-body">
      <div class="show-page-meta badge badge-pill d-inline-block">
        <%= recurring_tournament.size %>
        <%= svg_icon_tag :groupe %>
      </div>
      <div class="show-page-avatar">
        <%= recurring_tournament.any_image_tag(max_width: 94) %>
      </div>
      <div class="show-page-main-info">
        <h1 class="show-page-title card-title">
          <%= link_to recurring_tournament.name, recurring_tournament %>
        </h1>
        <div class="list-x">
          <%= recurring_tournament.badges_v2(with_level: true) %>
        </div>
        <small class="list-x flex-wrap mt-3">
          <% if recurring_tournament.recurring_type.to_sym == :weekly %>
            <span>
              <%= recurring_tournament.wday_text %>
            </span>
            <span>&nbsp;•&nbsp;</span>
          <% end %>
          <span>
            <%= recurring_tournament.recurring_type_text %>
          </span>
          <span>&nbsp;•&nbsp;</span>
          <span>
            <%= recurring_tournament.starts_at %>
          </span>
        </small>
        <small class="list-x mt-3">
          <%= svg_icon_tag(:lieu, class: 'fs-xs') %>
          <% if recurring_tournament.is_online? %>
            Online
          <% else %>
            <%== recurring_tournament.full_address.presence || 'Offline' %>
          <% end %>
        </small>
      </div>
      <div class="show-page-side flex-column list-y">
        <div class="btn-group btn-group-sm w-50">
          <a href="http://" class="btn btn-sm btn-dark btn--with-icon font-weight-bold pl-4 text-left" target="_blank" rel="noopener noreferrer">
            <%= svg_icon_tag :discord, class: 'mr-4' %>
            Discord
          </a>
          <div class="btn-group btn-group-sm" role="group">
            <button id="socials-desktop" type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="socials-desktop">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
          </div>
        </div>
        <a href="http://" class="btn btn-sm w-50 btn-dark btn--with-icon rounded-pill font-weight-bold pl-4 text-left" target="_blank" rel="noopener noreferrer">
          <%= svg_icon_tag :twitter, class: 'mr-4' %>
          Twitter
        </a>
      </div>
      <div class="show-page-socials bg-layout bg-md-layout-dark d-flex d-md-none align-items-center">
        <div class="btn-group dropleft">
          <a href="#" id="socials-mobile" type="button" class="btn btn-sm btn-dark rounded-pill dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= svg_icon_tag :discord, class: "ml-1" %>
            <span class="sr-only">Discord</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="socials-mobile">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
          </div>
        </div>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <%= svg_icon_tag :twitter %>
          <span class="sr-only">Twitter</span>
        </a>
      </div>
    </div>
  </div>
</section>
