<div class="card recurring-tournament shadow-sm">
  <div class="card-body">
    <div class="recurring-tournament-tournament-events-count">
      <%= fas_icon_tag :chess %>
      <%= recurring_tournament.tournament_events_count %>
    </div>
    <%= link_to(recurring_tournament, class: 'recurring-tournament-link') do %>
      <%= recurring_tournament.any_image_tag(max_width: 64, max_height: 64) %>
      <div class="recurring-tournament-name-and-tags">
        <div>
          <%= recurring_tournament.name %>
        </div>
        <div>
          <%= recurring_tournament.badges %>
        </div>
      </div>
    <% end %>
  </div>
  <%= admin_edit_link(recurring_tournament) %>
</div>
