<article class="resource recurring-tournament d-flex">
  <div class="resource-avatar card">
    <%= link_to recurring_tournament.any_image_tag(max_width: 76, max_height: 76), recurring_tournament %>
    <%= recurring_tournament.decorate.level  %>
  </div>
  <div class="resource-content card flex-grow-1">
    <div class="card-body d-flex">
      <div class="resource-meta flex-grow-1">
        <h5 class="resource-title card-title text-truncate">
          <%= link_to recurring_tournament.name, recurring_tournament %>
        </h5>
        <div class="resource-badges">
          <%= recurring_tournament.badges_v2 %>
        </div>
      </div>
      <div class="players-count flex-shrink-0">
        <%= link_to recurring_tournament_tournament_events_path(recurring_tournament) do %>
          <%= recurring_tournament.tournament_events_count %>
          <%= svg_icon_tag(:médaille) %>
        <% end %>
      </div>
      <%= link_to recurring_tournament, class: 'resource-link' do %>
        <span class="sr-only">Voir plus</span>
      <% end %>
    </div>
    <%= admin_edit_link(recurring_tournament) %>
  </div>
</article>

