<div class="modal-dialog modal-lg modal-recurring-tournament">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="group-tab-scroll mt-2 mb-4">
      <ul class="nav nav-pills" id="group" role="tablist">
        <% @recurring_tournaments.each_with_index do |recurring_tournament, index| %>
          <li class="nav-item" role="presentation">
            <a class="nav-link btn-dark<%= ' active' if index === 0 %>" id="home-tab" data-toggle="tab" href="#<%= recurring_tournament.decorate.name.parameterize %>" role="tab" aria-controls="<%= recurring_tournament.decorate.name.parameterize %>" <%= 'aria-selected="true"' if index === 0 %>>
              <time class="fs-sm d-block"><%= recurring_tournament.decorate.starts_at %></time>
              <p class="mt-1 mb-2"><strong><%= recurring_tournament.decorate.name %></strong></p>
              <div class="list-x"><%= recurring_tournament.decorate.badges_v2(with_level: true, with_online: false) %></div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="tab-content" id="group-content">
      <% @recurring_tournaments.each_with_index do |recurring_tournament, index| %>
        <div class="tab-pane fade show<%= ' active' if index === 0 %>" id="<%= recurring_tournament.decorate.name.parameterize %>" role="tabpanel" aria-labelledby="<%= recurring_tournament.decorate.name.parameterize %>-tab">
          <%= render 'modal_content', recurring_tournament: recurring_tournament.decorate %>
        </div>
      <% end %>
    </div>
  </div>
</div>
