<% if @map %>

  <%= recurring_tournaments_map(@recurring_tournaments.limit(nil).offset(0)) do %>
    <h1 id="map-title">Tournois offline</h1>
  <% end %>

<% else %>

  <div class="text-center">
    <div id="list-toolbar">
      <h1 class="page-title">Toutes les séries</h1>
      <div id="filters-wrapper" class="text-left">

        <%= form_tag nil, method: :get, id: "index-filters" do %>

          <%= hidden_field_tag :on_abc, params[:on_abc] %>

          <div class="form-row">
            <div class="col-3 offset-1">
              <strong>Niveau</strong>
              <% RecurringTournament::LEVELS.each do |level| %>
                <% id = "level-#{level}" %>
                <div class="custom-control custom-switch">
                  <%= check_box_tag 'by_level_in[]',
                                    level,
                                    (params[:by_level_in] || []).include?(level),
                                    class: 'custom-control-input',
                                    id: id %>
                  <% color = RecurringTournamentDecorator.level_color(level) %>
                  <label class="custom-control-label text-<%= color %>" for="<%= id %>">
                    <%= RecurringTournament.human_attribute_name("level.#{level}") %>
                  </label>
                </div>
              <% end %>
            </div>

            <div class="col-3">
              <strong>Type</strong>
              <% [false, true, ''].each_with_index do |v, idx| %>
                <div class="custom-control custom-radio">
                  <%= radio_button_tag :by_is_online,
                                       v,
                                       (params[:by_is_online] || '') == v.to_s,
                                       id: "radio-is-online-#{idx}",
                                       class: 'custom-control-input' %>
                  <label class="custom-control-label" for="radio-is-online-<%= idx %>">
                    <%  case v
                        when true %>Online
                    <%  when false %>Offline
                    <%  else %>Les 2
                    <% end %>
                  </label>
                </div>
              <% end %>
            </div>

            <div class="col-3">
              <strong>Taille</strong>
              <div class="form-row align-items-center">
                <div class="col-auto">Entre</div>
                <div class="col-auto"><%= select_tag :by_size_geq, options_for_select(planning_size_select_collection, params[:by_size_geq]), class: 'custom-select' %></div>
                <div class="col-auto">et</div>
                <div class="col-auto"><%= select_tag :by_size_leq, options_for_select(planning_size_select_collection, params[:by_size_leq] || RecurringTournament::SIZES.last), class: 'custom-select' %></div>
              </div>
            </div>
          </div>

        <% end %>
      </div>

      <%= render 'shared/letters' %>
      <%= render 'shared/pagination', collection: @recurring_tournaments %>
    </div>
  </div>

  <div class="cards-list recurring-tournaments">
    <% @recurring_tournaments.each do |recurring_tournament| %>
      <div class="card-container">
        <%= render 'recurring_tournament', recurring_tournament: recurring_tournament.decorate %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/pagination', collection: @recurring_tournaments %>

<% end %>
