<div class="container-fluid">
  <div id="list-toolbar">
    <div id="filters-wrapper" class="text-left">
      <h1 class="page-title mt-4">
        Planning des tournois réguliers
        <% if @is_online %>
          online
        <% else %>
          de
          <div class="dropdown d-inline-block">
            <button class="btn btn-dark rounded-pill dropdown-toggle" data-toggle="dropdown" type="button" id="community-id" data-bs-toggle="dropdown" aria-expanded="false">
              <%= @community.name %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="community-id" style="max-height: 50vh; overflow: auto">
              <% Community.french.order('LOWER(name)').each do |community| %>
                <li>
                  <%= link_to community.name,
                              planning_offline_recurring_tournaments_path(community_id: community.id),
                              class: 'dropdown-item' %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </h1>

      <div class="planning-filters list-x align-items-center flex-wrap mr-auto">
        <div class="btn-group">
          <%= link_to 'Offline', { action: :planning_offline, community_id: default_planning_offline_community_id }, class: "btn#{' active' if !@is_online}" %>
          <%= link_to 'Online', { action: :planning_online }, class: "btn#{' active' if @is_online}" %>
        </div>
        <%= form_tag nil, method: :get, id: "filters" do %>
          <div class="list-x">
            <% if @is_online %>
              <div class="dropdown">
                <button class="btn btn-dark rounded-pill dropdown-toggle" type="button" id="filter-level" data-toggle="dropdown" aria-expanded="false">
                  <span class="dropdown-label">Niveau</span>&nbsp;<span class="dropdown-selected"></span>
                </button>
                <div class="dropdown-menu" onclick="event.stopPropagation()" aria-labelledby="filter-level">
                  <div class="px-3 py-2 list-y">
                    <% RecurringTournament::LEVELS.each do |level| %>
                      <% id = "level-#{level}" %>
                        <div class="custom-control custom-switch custom-switch-sm level--<%= level %>">
                          <input class="custom-control-input" type="checkbox" value="<%= level %>" id="<%= id %>">
                          <% color = RecurringTournamentDecorator.level_color(level) %>
                          <label class="custom-control-label fs-sm " for="<%= id %>">
                            <%= RecurringTournament.human_attribute_name("level.#{level}") %>
                          </label>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="dropdown">
              <button class="btn btn-dark rounded-pill dropdown-toggle<%= 'active' if params[:by_size_geq] || params[:by_size_geq] %>" type="button" id="filter-size" data-toggle="dropdown" aria-expanded="false">
                <span class="dropdown-label">Taille</span>&nbsp;<span class="dropdown-selected"></span>
              </button>
              <div class="dropdown-menu" onclick="event.stopPropagation()" aria-labelledby="filter-size">
                <div class="form-row align-items-center px-3 py-2">
                  <div class="col-5">Entre</div>
                  <div class="ml-auto col-auto"><%= select_tag 'size-min', options_for_select(planning_size_select_collection), include_blank: 'min.', class: 'custom-select custom-select-sm bg-dark' %></div>
                  <div class="col-12 my-1"></div>

                  <div class="col-5">et</div>
                  <div class="ml-auto col-auto"><%= select_tag 'size-max', options_for_select(planning_size_select_collection), include_blank: 'max.', class: 'custom-select custom-select-sm bg-dark' %></div>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <% unless @is_online %>
          <div class="planning-closest-communities list-x align-items-center">
            <span>A proximité&nbsp;:&nbsp;</span>
            <% @closest_communities.each do |community| %>
              <%= link_to community.name,
                          planning_offline_recurring_tournaments_path(community_id: community.id),
                          class: 'btn btn-dark rounded-pill' %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div id="planning" class="mt-3 mt-xl-4"></div>
  <div id="planning-modal" class="modal fade" tabindex="-1" aria-hidden="true"></div>
</div>

<% content_for :script do %>
  <script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById("planning");
      var initialDate = '<%= @monday %>';
      var levels = <%= RecurringTournament::LEVELS.to_json.html_safe %>;
      var eventsDataUrl = '<%= recurring_tournaments_path(
        by_is_online: @is_online,
        by_events_count_geq: (@is_online ? 3 : 0),
        by_closest_community_id: (@is_online ? nil : @community.id),
        format: :json
      ) %>';
      window.newPlanningCalendar(calendarEl, initialDate, levels, eventsDataUrl);
    });
  </script>
<% end %>
