<div class="container-lg">
  <% if admin_user_signed_in? || user_recurring_tournament_admin? %>
    <div class="text-right my-3 mb-n3">
      <% if admin_user_signed_in? %>
        <%= admin_edit_link(recurring_tournament, label: 'Admin', class: 'btn btn-sm btn-light rounded-pill') %>
      <% end %>
      <%= link_to 'Modifier', [:edit, recurring_tournament], class: 'btn btn-sm btn-primary rounded-pill ml-2' %>
      <%= form_for(recurring_tournament, html: { class: 'd-inline-block' }) do |f| %>
        <%= f.hidden_field :is_archived, value: !recurring_tournament.is_archived? %>
        <% if recurring_tournament.is_archived? %>
          <%= f.button type: :submit, class: 'btn btn-sm btn-success rounded-pill ml-2' do %>
            <%= fas_icon_tag :play, %w(mr-2) %>
            Relancer
          <% end %>
        <% else %>
          <%= f.button type: :submit, class: 'btn btn-sm btn-danger rounded-pill ml-2' do %>
            <%= fas_icon_tag :pause, %w(mr-2) %>
            Mettre en pause
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <article class="show-page">
    <%= render 'header', recurring_tournament: recurring_tournament %>

    <nav class="show-page-nav section-nav players d-lg-none">
      <div class="section-nav-wrapper">
        <scrollactive
          ref="scrollactive"
          :active-class="'active'"
          :offset="116"
        >
          <div class="section-nav-bg shadow-lg">
          <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'statistiques'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :joueur %>
              <span>Statistiques</span>
            <% end %>
            <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'palmares'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :groupe %>
              <span>Palmarès</span>
            <% end %>
          </div>
        </scrollactive>
      </div>
    </nav>
    <section class="show-page-body card">
      <div class="show-page-content card-body">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-between">
            <section id="statistiques" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Comment s'inscrire</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body d-block d-md-none">
                <%= recurring_tournament.registration %>
              </div>
            </section>
            <section id="statistiques" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Ruleset</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body d-block d-md-none">
              </div>
            </section>
            <section id="statistiques" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Lagtest</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body d-block d-md-none">
              </div>
            </section>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-between">
            <section id="statistiques" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Les TOs</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body d-block d-md-none">
              </div>
            </section>
            <section id="statistiques" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Power Rankings</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body d-block d-md-none">
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <section id="statistiques" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Autres informations</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <%= recurring_tournament.misc %>
              </div>
            </section>
          </div>
          <% if recurring_tournament.geocoded? %>
          <div class="col-12">
            <section id="statistiques" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Statistiques</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                  <div class="shadow p-5 m-3 rounded">
                    <%= single_address_map({
                          name: recurring_tournament.full_address.html_safe,
                          latitude: recurring_tournament.latitude,
                          longitude: recurring_tournament.longitude
                        }) %>
                  </div>
              </div>
            </section>
          </div>
          <% end %>
        </div>
      </div>
    </section>
  </article>
</div>

<!-- <h1 class="page-title">
  <%= recurring_tournament.name_with_logo(max_width: 64, max_height: 64) %>
  <div><small><%= recurring_tournament.badges %></small></div>
</h1>



<div class="row">
  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      Infos clé
    </h2>

    <%= render 'modal_content', recurring_tournament: recurring_tournament %>

  </div>

  <% if recurring_tournament.geocoded? %>
    <div class="col-6 border bg-light shadow p-5 m-3 rounded">
      <%= single_address_map({
            name: recurring_tournament.full_address.html_safe,
            latitude: recurring_tournament.latitude,
            longitude: recurring_tournament.longitude
          }) %>
    </div>
  <% end %>
</div>

<div class="row">

  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Ajouter',
                      [:new, recurring_tournament, :tournament_event],
                      class: 'btn btn-primary' %>
        </div>
      <% end %>
      Éditions 1v1
    </h2>

    <div class="cards-list tournament-events">
      <% @tournament_events.each do |tournament_event| %>
        <div class="card-container">
          <%= render 'tournament_events/tournament_event', tournament_event: tournament_event.decorate %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Ajouter',
                      [:new, recurring_tournament, :duo_tournament_event],
                      class: 'btn btn-primary' %>
        </div>
      <% end %>
      Éditions 2v2
    </h2>

    <div class="cards-list duo-tournament-events">
      <% @duo_tournament_events.each do |duo_tournament_event| %>
        <div class="card-container">
          <%= render 'duo_tournament_events/duo_tournament_event', duo_tournament_event: duo_tournament_event.decorate %>
        </div>
      <% end %>
    </div>

  </div>
</div>

-->
