<%= admin_edit_link(recurring_tournament) %>

<h1 class="page-title">
  <%= recurring_tournament.name_with_logo(max_width: 64, max_height: 64) %>
</h1>

<div class="row">
  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Modifier', [:edit, recurring_tournament], class: 'btn btn-primary mr-2' %>
          <%= form_for(recurring_tournament, html: { class: 'd-inline-block' }) do |f| %>
            <%= f.hidden_field :is_archived, value: !recurring_tournament.is_archived? %>
            <% if recurring_tournament.is_archived? %>
              <%= f.button type: :submit, class: 'btn btn-success' do %>
                <%= fas_icon_tag :play, %w(mr-2) %>
                Relancer
              <% end %>
            <% else %>
              <%= f.button type: :submit, class: 'btn btn-danger' do %>
                <%= fas_icon_tag :pause, %w(mr-2) %>
                Mettre en pause
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      Infos clé
    </h2>

    <%= render 'modal_content', recurring_tournament: recurring_tournament %>

  </div>

  <% if recurring_tournament.geocoded? %>
    <div class="col-6 border bg-light shadow p-5 m-3 rounded">
      <%= single_address_map({
            name: recurring_tournament.full_address.html_safe,
            latitude: recurring_tournament.latitude,
            longitude: recurring_tournament.longitude
          }) %>
    </div>
  <% end %>
</div>

<div class="row">

  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Ajouter',
                      [:new, recurring_tournament, :tournament_event],
                      class: 'btn btn-primary' %>
        </div>
      <% end %>
      Éditions 1v1
    </h2>

    <div class="cards-list tournament-events">
      <% @tournament_events.each do |tournament_event| %>
        <div class="card-container">
          <%= render 'tournament_events/tournament_event', tournament_event: tournament_event.decorate %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Ajouter',
                      [:new, recurring_tournament, :duo_tournament_event],
                      class: 'btn btn-primary' %>
        </div>
      <% end %>
      Éditions 2v2
    </h2>

    <div class="cards-list duo-tournament-events">
      <% @duo_tournament_events.each do |duo_tournament_event| %>
        <div class="card-container">
          <%= render 'duo_tournament_events/duo_tournament_event', duo_tournament_event: duo_tournament_event.decorate %>
        </div>
      <% end %>
    </div>

  </div>
</div>

