<div class="container-lg">
  <% if admin_user_signed_in? || user_recurring_tournament_admin? %>
    <div class="actions">
      <% if admin_user_signed_in? %>
        <%= admin_edit_link(recurring_tournament, label: 'Admin', class: 'btn btn-sm btn-light rounded-pill') %>
      <% end %>
      <%= link_to 'Modifier', [:edit, recurring_tournament], class: 'btn btn-sm btn-primary rounded-pill ml-2' %>
      <%= form_for(recurring_tournament, html: { class: 'd-inline-block' }) do |f| %>
        <%= f.hidden_field :is_archived, value: !recurring_tournament.is_archived? %>
        <% if recurring_tournament.is_archived? %>
          <%= f.button type: :submit, class: 'btn btn-sm btn-success rounded-pill ml-2' do %>
            <%= fas_icon_tag :play, %w(mr-2) %>
            Relancer
          <% end %>
        <% else %>
          <%= f.button type: :submit, class: 'btn btn-sm btn-danger rounded-pill ml-2' do %>
            <%= fas_icon_tag :pause, %w(mr-2) %>
            Mettre en pause
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <article class="show-page">
    <%= render 'header', recurring_tournament: recurring_tournament %>

    <nav class="show-page-nav section-nav players d-lg-none">
      <div class="section-nav-wrapper">
        <scrollactive
          ref="scrollactive"
          :active-class="'active'"
          :offset="116"
        >
          <div class="section-nav-bg shadow-lg">
          <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'inscription'), class: "section-nav-link scrollactive-item" do %>
              <span>Comment s'inscrire</span>
            <% end %>
            <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'ruleset'), class: "section-nav-link scrollactive-item" do %>
              <span>Ruleset</span>
            <% end %>
            <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'lagtest'), class: "section-nav-link scrollactive-item" do %>
              <span>Lagtest</span>
            <% end %>
            <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'contacts'), class: "section-nav-link scrollactive-item" do %>
              <span>TOs</span>
            <% end %>
            <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'power-rankings'), class: "section-nav-link scrollactive-item" do %>
              <span>Power rankings</span>
            <% end %>
            <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'other-informations'), class: "section-nav-link scrollactive-item" do %>
              <span>Autres informations</span>
            <% end %>
            <%= link_to recurring_tournament_path(recurring_tournament, anchor: 'location'), class: "section-nav-link scrollactive-item" do %>
              <span>Localisation</span>
            <% end %>
          </div>
        </scrollactive>
      </div>
    </nav>
    <section class="show-page-body card">
      <div class="show-page-content card-body">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column">
            <section id="inscription" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Comment s'inscrire</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <see-more  :line-clamp="4">
                  <%= recurring_tournament.registration %>
                </see-more>
              </div>
            </section>
            <section id="ruleset" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Ruleset</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <see-more>
                  <%= recurring_tournament.registration %>
                </see-more>
              </div>
            </section>
            <section id="lagtest" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Lagtest</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <see-more  :line-clamp="4">
                  <%= recurring_tournament.registration %>
                </see-more>
              </div>
            </section>
          </div>
          <div class="col-lg-6 d-flex flex-column">
            <section id="contacts" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Les TOs</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <% if recurring_tournament.contacts.any? %>
                  <div class="list">
                    <% recurring_tournament.contacts.first(3).each do |user| %>
                      <% if player = user.player %>
                        <%= render 'players/player_v2', player: player.decorate, with_roles: true %>
                      <% else %>
                        <%= render 'users/user', user: user.decorate %>
                      <% end %>
                    <% end %>
                  </div>
                  <% if recurring_tournament.contacts.count > 3 %>
                    <div class="text-right mt-3">
                      <%= link_to 'Voir plus',
                                  contacts_recurring_tournaments_path(by_community_id: recurring_tournament.closest_community&.id),
                                  class: 'btn btn-sm bg-layout rounded-pill' %>
                    </div>
                  <% end %>
                <% else %>
                  -
                <% end %>
              </div>
            </section>
            <section id="power-rankings" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Power Rankings</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <ul class="list-y list-unstyled text-center mb-0">
                  <% Array.new(5).each_with_index do |_, index| %>
                    <li>
                      <%= link_to "https://power-ranking-#{index + 1}",
                                  class: 'list-row',
                                  target: '_blank',
                                  rel: 'noopener noreferrer' do %>
                        <span class="list-row-col flex-grow-1 text-truncate">Power ranking <%= index + 1 %></span>
                        <span>&nbsp;•&nbsp;</span>
                        <span class="list-row-col w-25">2021</span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <section id="other-informations" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Autres informations</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <% if recurring_tournament.misc.blank? %>
                  <p>Aucune information supplémentaire</p>
                <% else %>
                  <%= recurring_tournament.misc %>
                <% end %>
              </div>
            </section>
          </div>
          <% if recurring_tournament.geocoded? %>
          <div class="col-12">
            <section id="location" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Localisation</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                  <div class="shadow p-5 m-3 rounded">
                    <%= single_address_map({
                          name: recurring_tournament.full_address.html_safe,
                          latitude: recurring_tournament.latitude,
                          longitude: recurring_tournament.longitude
                        }) %>
                  </div>
              </div>
            </section>
          </div>
          <% end %>
        </div>
      </div>
    </section>
  </article>
</div>

<!-- <h1 class="page-title">
  <%= recurring_tournament.name_with_logo(max_width: 64, max_height: 64) %>
  <div><small><%= recurring_tournament.badges %></small></div>
</h1>



<div class="row">
  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      Infos clé
    </h2>

    <%= render 'modal_content', recurring_tournament: recurring_tournament %>

  </div>

  <% if recurring_tournament.geocoded? %>
    <div class="col-6 border bg-light shadow p-5 m-3 rounded">
      <%= single_address_map({
            name: recurring_tournament.full_address.html_safe,
            latitude: recurring_tournament.latitude,
            longitude: recurring_tournament.longitude
          }) %>
    </div>
  <% end %>
</div>

<div class="row">

  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Ajouter',
                      [:new, recurring_tournament, :tournament_event],
                      class: 'btn btn-primary' %>
        </div>
      <% end %>
      Éditions 1v1
    </h2>

    <div class="cards-list tournament-events">
      <% @tournament_events.each do |tournament_event| %>
        <div class="card-container">
          <%= render 'tournament_events/tournament_event', tournament_event: tournament_event.decorate %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col border bg-light shadow p-5 m-3 rounded">

    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Ajouter',
                      [:new, recurring_tournament, :duo_tournament_event],
                      class: 'btn btn-primary' %>
        </div>
      <% end %>
      Éditions 2v2
    </h2>

    <div class="cards-list duo-tournament-events">
      <% @duo_tournament_events.each do |duo_tournament_event| %>
        <div class="card-container">
          <%= render 'duo_tournament_events/duo_tournament_event', duo_tournament_event: duo_tournament_event.decorate %>
        </div>
      <% end %>
    </div>

  </div>
</div>

-->
