<table>
  <thead>
    <tr>
      <th>Bracket</th>
      <th>Rang</th>
      <th colspan="3">Compte start.gg</th>
      <th>Édition</th>
      <th>Joueur</th>
    </tr>
  </thead>
  <tbody>
    <% @wrong_players.each_with_index do |wrong_player, idx| %>
      <% next if idx > 0                       && SmashggEvent.false_wrong_players?(wrong_player, @wrong_players[idx-1]) %>
      <% next if idx < @wrong_players.size - 1 && SmashggEvent.false_wrong_players?(wrong_player, @wrong_players[idx+1]) %>

      <% smashgg_event = SmashggEvent.find(wrong_player[:smashgg_event_id]) %>
      <% rank = wrong_player[:rank] %>
      <% smashgg_user = SmashggUser.find(wrong_player[:smashgg_user_id]) %>
      <% smashgg_user_player = Player.find(wrong_player[:smashgg_user_player_id]) %>
      <% tournament_event = TournamentEvent.find(wrong_player[:tournament_event_id]) %>
      <% tournament_event_player = Player.find(wrong_player[:tournament_event_player_id]) %>
      <tr>
        <td><%= smashgg_event.admin_decorate.admin_link %></td>
        <td><%= rank %></td>
        <td><%= smashgg_user.admin_decorate.admin_link %></td>
        <td><=></td>
        <td><%= smashgg_user_player.admin_decorate.admin_link %></td>
        <td><%= tournament_event.admin_decorate.admin_link %></td>
        <td><%= tournament_event_player.admin_decorate.admin_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
