<%= admin_edit_link(@user) %>

<h1 class="page-title">
  <%= user.avatar_and_name(size: 64) %><br/>
</h1>
<h5 class="text-center">
  <% if user.is_caster? %>
    <span class="badge badge-success">Commentateur</span>
  <% end %>
  <% if user.is_coach? %>
    <span class="badge badge-warning">Coach</span>
  <% end %>
  <% if user.is_graphic_designer? %>
    <span class="badge badge-dark">Graphiste</span>
  <% end %>
</h5>

<div class="my-5 text-center">
  <% unless user.player&.is_banned? %>
    <%= link_to [:edit, @user], class: 'btn btn-primary' do %>
        <%= fas_icon_tag 'pencil-alt', %w(mr-2) %>
      Modifier mon profil
    <% end %>
  <% end %>
  <% if user.discord_user %>
    <%= link_to [:refetch, user.discord_user], class: 'btn btn-success ml-3' do %>
      <%= fas_icon_tag :sync, %w(mr-2) %>
      Mettre à jour mes données Discord
    <% end %>
  <% end %>
</div>

<div class="row justify-content-center">
  <% if user.is_coach? || user.is_graphic_designer? %>
    <div class="col">
      <% if user.is_coach? %>
        <div class="p-3 mb-2 bg-light text-dark">
          <h2>Profil de coach</h2>

          <div class="mb-2">
            <%= user.coaching_link(label: 'Lien vers ma fiche') %>
          </div>

          <% unless user.coaching_details.blank? %>
            <strong>Détails sur le coaching</strong><br/>
            <pre><%= user.coaching_details %></pre>
          <% end %>
        </div>
      <% end %>

      <% if user.is_graphic_designer? %>
        <div class="p-3 mb-2 bg-light text-dark">
          <h2>Profil de graphiste</h2>

          <p>
            <strong>Suis-je disponible actuellement ?</strong><br/>
            <%= user.is_available_graphic_designer? ? 'Oui' : 'Non' %>
          </p>

          <% unless user.graphic_designer_details.blank? %>
            <strong>Ce que je fait</strong><br/>
            <pre><%= user.graphic_designer_details %></pre>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="col text-center">
    <% if user.player %>
      <div class="cards-list players">
        <div class="card-container">
          <% player = user.player; player.is_accepted = true %>
          <%= render 'players/player',
                     player: player.decorate,
                     with_communities: true %>
        </div>
      </div>
      <%= render 'players/player_accounts', player: player.decorate %>
      <br/>
      <%= link_to [:new, user.player, :smashgg_user], class: 'btn btn-primary' do %>
        <%= fas_icon_tag 'plus', %w(mr-2) %>
        Ajouter un compte smash.gg
      <% end %>
    <% else %>
      <%= link_to 'Créer ma fiche joueur', [:create_player, @user], class: 'btn btn-success' %>
    <% end %>
  </div>

  <% if user.main_address || user.secondary_address %>
    <div class="col">
      <%= user_addresses_map(user) %>
    </div>
  <% end %>
</div>
