<div class="big-numbers">

  <div class="big-number txt-blue">
    <div class="big-number--value">
      <%= @duo_tournament_events_count %>
    </div>
    <div class="big-number--title">
      <%= pluralize_without_count @duo_tournament_events_count, 'Tournoi' %>
    </div>
  </div>

  <div class="big-number txt-rose">
    <div class="big-number--value">
      <%= @rewards_count %>
    </div>
    <div class="big-number--title">
      <%= pluralize_without_count @rewards_count, 'Récompense' %>
    </div>
  </div>

  <div class="big-number txt-green">
    <div class="big-number--value">
      <%= @duo.points %>
    </div>
    <div class="big-number--title">
      <%= pluralize_without_count @duo.points, "Fragments d'étoiles" %>
    </div>
  </div>

</div>

<div class="text-center" style="margin-bottom: 30px">
  <% Reward.online_2v2.grouped_by_level2.each do |(level2, level2_rewards)| %>
    <div>
      <% level2_rewards.each do |reward| %>
        <%= link_to @duo.reward_duo_reward_duo_conditions_admin_path(reward) do %>
          <% count = @rewards_counts[reward.id] %>
          <% if count %>
            <%= reward.decorate.badge(count: count) %>
          <% else %>
            <%= reward.decorate.badge(class: 'disabled') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th class="text-center">Série</th>
      <th class="text-center">Édition</th>
      <th class="text-center">Date</th>
      <th class="text-center">Participants</th>
      <th class="text-center">Résultat</th>
      <th class="text-center">Condition</th>
      <th class="text-center">Badge</th>
      <th class="text-center">Points</th>
    </tr>
  </thead>
  <tbody>
    <% @duo_tournament_events.each do |duo_tournament_event| %>
      <% duo_reward_duo_condition = duo_tournament_event.duo_reward_duo_conditions.by_duo(@duo).first&.admin_decorate %>
      <tr>
        <th class="text-center"><%= duo_tournament_event.recurring_tournament_admin_link %></th>
        <th class="text-center"><%= duo_tournament_event.admin_link %></th>
        <td class="text-center"><%= duo_tournament_event.date %></td>
        <td class="text-center"><%= duo_tournament_event.participants_count %></td>
        <td class="text-center"><%= duo_tournament_event.duo_rank_name(@duo.id) %></td>
        <td class="text-center"><%= duo_reward_duo_condition&.reward_duo_condition_admin_link %></td>
        <td class="text-center"><%= duo_reward_duo_condition&.reward_admin_link %></td>
        <td class="text-center"><%= duo_reward_duo_condition&.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
