<div class='map-container' data-url="<%= url_with(format: :json) %>">
  <div class='map' id='<%= container_id %>'></div>

  <% if layers.any? %>
    <div class='layers'>
      <div class='layers-title noselect clearfix'>
        <div class='float-right'>
          <button type='button' class='navbar-toggler'><i class='fas fa-layer-group'></i></button>
        </div>
        <h2>Affichage</h2>
      </div>
      <div class='layer-hsep'></div>
      <div class='layer-top-buttons'>
        <h3>Seconds</h3>
        <div class="btn-group btn-group-sm" role="group">
          <% if @map_seconds %>
            <%= link_to 'Sans', url_with(seconds: 0), class: 'btn btn-outline-primary' %>
          <% else %>
            <button type="button" class="btn btn-primary">Sans</button>
          <% end %>
          <% if @map_seconds %>
            <button type="button" class="btn btn-primary">Avec</button>
          <% else %>
            <%= link_to 'Avec', url_with(seconds: 1), class: 'btn btn-outline-primary' %>
          <% end %>
        </div>
      </div>
      <div class='layer-hsep'></div>
      <div class='layer-top-buttons'>
        <h3>Personnages</h3>
        <a href='#' class='layer-show-all btn btn-primary btn-sm'
                    data-map='<%= container_id %>'>Tous</a>
        <a href='#' class='layer-hide-all btn btn-secondary btn-sm'
                    data-map='<%= container_id %>'>Aucun</a>
      </div>
      <% Hash[ layers.sort_by { |k, v| v[:position] } ].each do |layer_id, layer| %>
        <div class='layer layer-visible noselect'
             data-map='<%= container_id %>'
             data-layer='<%= layer_id %>'>
          <span class='name'><%= layer[:name] %> (<%= markers[layer_id].count %>)</span>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if defined?(html_content) %>
    <%= html_content.presence %>
  <% end %>

</div>

<div id="map-modal" class="modal fade" tabindex="-1" aria-hidden="true"></div>
