<div class="container-lg">
  <% if admin_user_signed_in? || user_recurring_tournament_admin? %>
    <div class="actions">
      <% if admin_user_signed_in? %>
        <%= admin_edit_link(event, label: 'Admin', class: 'btn btn-sm btn-light rounded-pill') %>
      <% end %>
      <%= link_to 'Modifier', [:edit, event], class: 'btn btn-sm btn-primary rounded-pill ml-2' %>
    </div>
  <% end %>
  <article class="show-page">
    <%= render 'tournament_events/header', event: event %>

    <nav class="show-page-nav section-nav players d-lg-none">
      <div class="section-nav-wrapper">
        <scrollactive
          ref="scrollactive"
          :active-class="'active'"
          :offset="116"
        >
          <div class="section-nav-bg shadow-lg">
          <%= link_to tournament_event_path(event, anchor: 'inscription'), class: "section-nav-link scrollactive-item" do %>
              <span>Top 8</span>
            <% end %>
            <%= link_to tournament_event_path(event, anchor: 'graph'), class: "section-nav-link scrollactive-item" do %>
              <span>Graph</span>
            <% end %>
          </div>
        </scrollactive>
      </div>
    </nav>
    <section class="show-page-body card">
      <div class="show-page-content card-body">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <section id="inscription" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Top 8</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <div class="list">

                  <% event.model.class::TOP_NAME_RANK.each do |top_name, rank| %>
                    <% awarded = event.send(top_name) %>
                    <% type = event.class.name =~ /duo/i ? 'duo' : 'player' %>
                    <% if awarded %>
                      <%= render  "#{type}s/#{type}_v2",
                                  "#{type}": awarded.decorate,
                                  reward_condition: @reward_conditions[awarded.id]&.decorate,
                                  is_online: event.online?,
                                  with_points: true,
                                  with_rank: true,
                                  rank: rank %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </section>

          </div>
          <% if event.graph_image_tag %>
          <div class="col-lg-6">
            <section id="graph" class="show-page-section">
              <div class="show-page-section-title">
                <h2>Graph</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body">
                <%= event.graph_image_tag max_width: '100%', class: 'shadow' %>
              </div>
            </section>
          </div>
          <% end %>
        </div>
      </div>
    </section>
  </article>
</div>

