<article class="resource tournament-event d-flex">
  <div class="resource-avatar card">
    <%= link_to tournament_event.recurring_tournament&.decorate&.any_image_tag(max_width: 76, max_height: 76), tournament_event %>
    <%= tournament_event.recurring_tournament&.decorate&.level  %>
  </div>
  <div class="resource-content card flex-grow-1">
    <div class="card-body d-flex">
      <div class="resource-meta flex-grow-1">
        <small class="fs-xs">
          <time class="resource-badges">
            <%= l tournament_event.date, format: :long %>
          </time>
        </small>
        <h5 class="resource-title card-title text-truncate fs-sm">
          <%= link_to tournament_event.name, tournament_event %>
        </h5>
        <div class="resource-badges fs-sm">
          <%= tournament_event.recurring_tournament&.decorate&.badges_v2 %>
        </div>
      </div>
      <div class="players-count flex-shrink-0">
        <p class="position-relative m-0 fs-sm font-weight-bolder">
          <%= tournament_event.participants_count %>
          <%= svg_icon_tag(:groupe) %>
        <p>
        
      </div>
      <%= link_to tournament_event, class: 'resource-link' do %>
        <span class="sr-only">Voir plus</span>
      <% end %>
    </div>
    <%= admin_edit_link(tournament_event) %>
  </div>
</article>

