<%= admin_edit_link(tournament_event) %>

<h1 class="page-title">
  <small class="text-muted"><%= tournament_event.recurring_tournament_name %></small><br/>
  <%= tournament_event.first_tournament_event_link label: '⇤', class: 'btn btn-link' %>
  <%= tournament_event.previous_tournament_event_link label: '←', class: 'btn btn-link' %>
  <%= tournament_event.name %>
  <%= tournament_event.next_tournament_event_link label: '→', class: 'btn btn-link' %>
  <%= tournament_event.last_tournament_event_link label: '⇥', class: 'btn btn-link' %>
</h1>

<div class="row">

  <div class="col border bg-light shadow p-5 m-3 rounded">
    <h2 class="text-center mb-5">
      <% if user_recurring_tournament_admin? %>
        <div class="float-right">
          <%= link_to 'Modifier', [:edit, tournament_event], class: 'btn btn-primary' %>
        </div>
      <% end %>
      Infos clé
    </h2>

    <dl>

      <dt>Série</dt>
      <dd><%= tournament_event.recurring_tournament_link %></dd>

      <dt>Date</dt>
      <dd><%= tournament_event.date %></dd>

      <dt>Participants</dt>
      <dd><%= tournament_event.participants_count || '?' %></dd>

      <% unless tournament_event.bracket_url.blank? %>
        <dt>Bracket</dt>
        <dd><%= tournament_event.bracket_link %></dd>
      <% end %>

    </dl>
  </div>

  <div class="col border bg-light shadow p-5 m-3 rounded">
    <h2 class="text-center mb-5">Résultat</h2>

    <div class="row justify-content-center">
      <div class="col-auto">
        <% TournamentEvent::PLAYER_NAMES.each do |player_name| %>
          <div class="my-3">
            <strong>
              <%= TournamentEvent.human_attribute_name("rank.#{player_name}") %> :
            </strong> <%= tournament_event.send(player_name)&.decorate&.link || '?' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-auto text-center m-3" style="max-width: 50%;">
    <%= tournament_event.graph_image_tag max_width: '100%', max_height: 600, class: 'shadow' %>
  </div>

</div>
