<main role="main" class="text-center" id="home-main">

  <section class="home-nav-item home-nav-item--players">
    <%= link_to players_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/joueurs.svg' %>
      <h2>Joueurs</h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--championship">
    <%= link_to planning_recurring_tournaments_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/trophee2.svg' %>
      <h2>Tournois</h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--smashtheque-tv">
    <%= link_to '#', class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/smashthequetv.svg' %>
      <h2>Smashthèque <sup>TV</sup></h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--harmonie">
    <%= link_to ranking_players_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/observatory.svg' %>
      <h2>Observatoire <br/> d'Harmonie</h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--center home-nav-item--community">
    <%= link_to discord_guilds_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/communaute.svg' %>
      <h2>Communauté</h2>
    <% end %>
  </section>
</main>

<div class="guides text-center">
  <h2 class='guides-link'>
    <%= link_to page_path(slug: 'liens-utiles') do %>
      <%= image_tag 'icons/guide.svg' %>
      <span>Guides</span>
    <% end %>
  </h2>
</div>
