<main role="main" class="text-center" id="home-main">

  <section class="home-nav-item home-nav-item--players">
    <%= link_to players_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/groupe.svg' %>
      <h2>Joueurs <br/> & Cie</h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--championship">
    <%= link_to players_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/trophée.svg' %>
      <h2>Tournois</h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--smashtheque-tv">
    <%= link_to players_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/tv.svg' %>
      <h2>Smashthèque <sup>TV</sup></h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--harmonie">
    <%= link_to players_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/telescope.svg' %>
      <h2>Observatoire <br/> d'Harmonie</h2>
    <% end %>
  </section>
  <section class="home-nav-item home-nav-item--center home-nav-item--community">
    <%= link_to players_path, class: 'home-nav-item-link' do %>
      <%= image_tag 'icons/liens.svg' %>
      <h2>Communauté</h2>
    <% end %>
  </section>

</main>
