<div class="text-center">
  <div id="list-toolbar">
    <h1 class="page-title">Planning des tournois réguliers online</h1>
    <div id="filters-wrapper" class="text-left">

      <%= form_tag nil, method: :get, id: "filters" do %>

        <div class="form-row">
          <div class="col-5 offset-1">
            <strong>Niveau</strong>
            <% RecurringTournament::LEVELS.each do |level| %>
              <% id = "level-#{level}" %>
              <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" value="<%= level %>" id="<%= id %>">
                <% color = RecurringTournamentDecorator.level_color(level) %>
                <label class="custom-control-label text-<%= color %>" for="<%= id %>">
                  <%= RecurringTournament.human_attribute_name("level.#{level}") %>
                </label>
              </div>
            <% end %>
          </div>

          <div class="col-5">
            <strong>Taille</strong>
            <div class="form-row align-items-center">
              <div class="col-auto">Entre</div>
              <div class="col-auto"><%= select_tag 'size_min', options_for_select(planning_size_select_collection), class: 'custom-select', id: 'size-min' %></div>
              <div class="col-auto">et</div>
              <div class="col-auto"><%= select_tag 'size_max', options_for_select(planning_size_select_collection, RecurringTournament::SIZES.last), class: 'custom-select', id: 'size-max' %></div>
            </div>
          </div>
        </div>

        <div class="text-center my-3">
          <div class="custom-control custom-switch">
            <%= check_box_tag :with_charter,
                              1,
                              false,
                              class: 'custom-control-input',
                              id: 'charter-only' %>
            <label class="custom-control-label" for="charter-only">
              Voir uniquement les tournois signataires de la <%=
                link_to charter_path, target: '_blank' do
              %>
                Charte du Fair-Play
                <%= fas_icon_tag 'external-link-alt', %w(fa-sm) %>
              <% end %>
            </label>
          </div>
        </div>

      <% end %>

      <div class="text-center mt-3">
        <%= link_to @ics_url, class: 'btn btn-dark', target: '_blank' do %>
          <%= fas_icon_tag 'calendar-alt', %w(mr-2) %>
          Je veux ça dans mon agenda&nbsp;!
        <% end %>
      </div>

    </div>
  </div>
</div>

<div id="planning" class="mt-5"></div>
<div id="planning-modal" class="modal fade" tabindex="-1" aria-hidden="true"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById("planning");
    var initialDate = '<%= @monday %>';
    var levels = <%= RecurringTournament::LEVELS.to_json.html_safe %>;
    var eventsDataUrl = '<%= recurring_tournaments_path(by_is_online: true, format: :json) %>';
    window.newPlanningCalendar(calendarEl, initialDate, levels, eventsDataUrl);
  });
</script>
