<table>
  <thead>
    <tr>
      <th>Série</th>
      <th>Date</th>
      <th>Éditions</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @potential_duplicates.each do |events| %>
      <tr>
        <td><%= events.first.recurring_tournament.admin_decorate.admin_link %></td>
        <td><%= events.first.date %></td>
        <td>
          <% events.each do |event| %>
            <div>
              <%= event.admin_decorate.admin_link %>
            </div>
          <% end %>
        </td>
        <td>
          <%= form_tag(
            [:not_duplicates, :admin, events.first],
            remote: true,
            data: {
              success: "$(this).closest('tr').hide()"
            }
          ) do %>
            <%= hidden_field_tag  :not_duplicate_id,
                                  events.second.id,
                                  id: "#{events.first.id}-not-duplicate" %>
            <%= submit_tag 'Ignorer', class: 'button-auto red' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
