<div class="card character shadow-sm" style="<%=
    "background-color: #{character.background_color};" unless character.background_color.blank?
  %><%=
    "background-image: url(\"#{character.background_image_data_url.gsub('"', "\"")}\");background-size: 240px;" unless character.background_image.blank?
  %>">
  <div class="card-body">
    <%= link_to character do %>
      <%= character.emoji_image_tag %><br/>
      <span class="name">
        <%= character.name.titleize %>
      </span>
    <% end %>
  </div>
  <%= admin_edit_link(character) %>
</div>
