<div class="list-x list-x--row list-x--lg">
  <% if character.nintendo_url %>
    <div class="card card-box card-box--square card-box--link">
      <div class="card-body bg-dark">
        <div class="card-content">
          <%= svg_icon_tag :smash, class: 'card-box-icon' %>
          <%= link_to character.nintendo_url, target: '_blank', class: 'card-box-link card-box-label flex-grow-sm-1 flex-grow-0' do %>
            <span class="">Site officiel</span>
            <%= svg_icon_tag :link, class: 'card-box-link-icon' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if character.ultimateframedata_url %>
    <div class="card card-box card-box--square card-box--link">
      <div class="card-body bg-dark">
        <div class="card-content">
          <%= svg_icon_tag :stat, class: 'card-box-icon' %>
          <%= link_to character.ultimateframedata_url, target: '_blank', class: 'card-box-link card-box-label flex-grow-sm-1 flex-grow-0' do %>
            <span class="">Ultimate Frame Data</span>
            <%= svg_icon_tag :link, class: 'card-box-link-icon' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if character.smashprotips_url %>
    <div class="card card-box card-box--square card-box--link">
      <div class="card-body bg-dark">
        <div class="card-content">
          <%= svg_icon_tag :smashpro, class: 'card-box-icon' %>
          <%= link_to character.smashprotips_url, target: '_blank', class: 'card-box-link card-box-label' do %>
            <span class="">Smash Pro Tips</span>
            <%= svg_icon_tag :link, class: 'card-box-link-icon' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>