<h2>Suggestions</h2>

<table>
  <thead>
    <tr>
      <th>Compte smash.gg</th>
      <th>Joueur suggéré</th>
      <th>Raison de la suggestion</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @smashgg_users.each do |smashgg_user| %>
      <% suggestion = smashgg_user.suggested_player %>
      <% next if suggestion.nil? %>
      <% suggested_player = suggestion.first %>
      <tr>
        <td><%= smashgg_user.admin_decorate.admin_link %></td>
        <td><%= suggested_player.admin_decorate.admin_link(with_teams: true) %></td>
        <td>
          <% case suggestion.second %>
          <% when :discord_discriminated_username %>
            Pseudo Discord : <%= smashgg_user.discord_discriminated_username %>
          <% when :twitter_username %>
            Pseudo Twitter : <%= smashgg_user.twitter_username %>
          <% when :gamer_tag %>
            Pseudo : <%= smashgg_user.gamer_tag %> &asymp; <%= suggested_player.name %>
          <% when :smashgg_event %>
            <%= suggestion.third.admin_decorate.admin_link %>
          <% end %>
        </td>
        <td>
          <%= semantic_form_for([:admin, smashgg_user], html: {target: '_blank'}) do |f| %>
            <%= f.input :player_id, as: :hidden, input_html: {value: suggested_player.id } %>
            <%= f.submit 'Valider', class: 'button-auto green' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
