<nav class="navbar navbar-expand-lg
            bg-white border-bottom shadow-sm"
     id="main-nav">

  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'smashtheque-64.png', width: 32 %>
    <span>Smashthèque FR</span>
  <% end %>

  <button class="navbar-toggler border" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center text-lg-left">
      <li class="nav-item">
        <%= link_to players_path, class: 'nav-link' do %>
          <i class="fas fa-user"></i>
          <span>Joueurs</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to characters_path, class: 'nav-link' do %>
          <%= image_tag 'smash.svg', height: 16 %>
          <span>Personnages</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to locations_path, class: 'nav-link' do %>
          <i class="fas fa-map-marker-alt"></i>
          <span>Localisations</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to teams_path, class: 'nav-link' do %>
          <i class="fas fa-users"></i>
          <span>Équipes</span>
        <% end %>
      </li>
      <% if admin_user_signed_in? %>
        <li class="nav-item">
          <%= link_to discord_guilds_path, class: 'nav-link' do %>
            <i class="fab fa-discord"></i>
            <span>Serveurs</span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-inline-flex" id="main-global-search-form">
      <%= select_tag :search, [],
            class: 'form-control',
            type: :search,
            placeholder: 'Recherche globale',
            'aria-label' => 'Recherche globale',
            data: { global_search: {} } %>
    </form>
  </div>

</nav>

<% if admin_user_signed_in? %>
  <nav class="nav" id="admin-nav">
    <%= link_to 'Admin', admin_root_path, class: 'nav-link btn btn-outline-secondary' %>
    <%= link_to '+ Ajouter un joueur', new_admin_player_path, class: 'nav-link btn btn-outline-primary' %>
  </nav>
<% end %>
