<nav class="navbar navbar-expand-lg
            bg-white border-bottom shadow-sm"
     id="main-nav">

  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'smashtheque-64.png', width: 32 %>
    <span>Smashthèque FR</span>
  <% end %>

  <button class="navbar-toggler border" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center text-lg-left">

      <li class="nav-item dropdown">
        <%= link_to players_path, class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
          <%= fas_icon_tag :users %>
          <span>Joueurs</span>
        <% end %>
        <div class="dropdown-menu">
          <%= link_to 'Abécédaire', players_path, class: 'dropdown-item' %>
          <%= link_to 'Équipes', teams_path, class: 'dropdown-item' %>
          <%= link_to 'Personnages', characters_path, class: 'dropdown-item' %>
          <%= link_to 'Localisations', locations_path, class: 'dropdown-item' %>
          <% if admin_user_signed_in? %>
            <div class="dropdown-divider"></div>
            <%= link_to "Observatoire d'Harmonie online", online_ranking_players_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>

      <% if admin_user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to recurring_tournaments_path, class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
            <%= fas_icon_tag :chess %>
            <span>Compétition</span>
          <% end %>
          <div class="dropdown-menu">
            <%= link_to 'Séries de tournois', recurring_tournaments_path, class: 'dropdown-item' %>
            <%= link_to 'Éditions passées', tournament_events_path, class: 'dropdown-item' %>
            <%= link_to 'Planning hebdo', planning_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to discord_guilds_path, class: 'nav-link' do %>
          <i class="fab fa-discord"></i>
          <span>Serveurs</span>
        <% end %>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 d-inline-flex" id="main-global-search-form">
      <%= select_tag :search, [],
            class: 'form-control',
            type: :search,
            placeholder: 'Recherche globale',
            'aria-label' => 'Recherche globale',
            data: { global_search: {} } %>
    </form>
  </div>

</nav>
