<nav class="navbar navbar-expand-lg
            bg-white border-bottom shadow-sm"
     id="main-nav">

  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_pack_tag 'smashtheque-64.png', width: 32 %>
    <span>Smashthèque FR</span>
  <% end %>

  <button class="navbar-toggler border" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center text-lg-left">

      <li class="nav-item dropdown">
        <%= link_to players_path, class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
          <%= fas_icon_tag :user %>
          <span>Joueurs & Cie</span>
        <% end %>
        <div class="dropdown-menu">
          <%= link_to 'Abécédaire', players_path, class: 'dropdown-item' %>
          <%= link_to 'Équipes', teams_path, class: 'dropdown-item' %>
          <%= link_to 'Personnages', characters_path, class: 'dropdown-item' %>
          <%= link_to 'Duos', duos_path, class: 'dropdown-item' %>
          <%= link_to 'Communautés locales', communities_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <%= link_to recurring_tournaments_path, class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
          <%= fas_icon_tag :chess %>
          <span>Tournois</span>
        <% end %>
        <div class="dropdown-menu">
          <%= link_to 'Séries de tournois', recurring_tournaments_path, class: 'dropdown-item' %>
          <%= link_to 'Éditions 1v1', tournament_events_path, class: 'dropdown-item' %>
          <%= link_to 'Éditions 2v2', duo_tournament_events_path, class: 'dropdown-item' %>
          <%= link_to 'Carte du offline', map_recurring_tournaments_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <%= link_to planning_path, class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
          <%= fas_icon_tag :tv %>
          <span>Smashthèque TV</span>
        <% end %>
        <div class="dropdown-menu">
          <%= link_to 'Planning hebdo online', planning_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <%= link_to ranking_players_path, class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
          <%= fas_icon_tag 'user-friends' %>
          <span>Observatoire d'Harmonie</span>
        <% end %>
        <div class="dropdown-menu">
          <%= link_to "Observatoire d'Harmonie 1v1", ranking_players_path, class: 'dropdown-item' %>
          <%= link_to "Observatoire d'Harmonie 2v2", ranking_duos_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <%= link_to '#', class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
          <%= fas_icon_tag 'user-tie' %>
          <span>Communauté</span>
        <% end %>
        <div class="dropdown-menu">
          <%= link_to 'TOs', contacts_recurring_tournaments_path, class: 'dropdown-item' %>
          <%= link_to 'Commentateurs', caster_users_path, class: 'dropdown-item' %>
          <%= link_to 'Coachs', coach_users_path, class: 'dropdown-item' %>
          <%= link_to 'Graphistes', graphic_designer_users_path, class: 'dropdown-item' %>
          <%= link_to 'Chaînes Twitch', twitch_channels_path, class: 'dropdown-item' %>
          <%= link_to 'Chaînes YouTube', you_tube_channels_path, class: 'dropdown-item' %>
          <%= link_to 'Serveurs Discord', discord_guilds_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <%= link_to '#', class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
          <%= fas_icon_tag 'info-circle' %>
          <span>Guides</span>
        <% end %>
        <div class="dropdown-menu">
          <% Page.published.header.order("LOWER(name)").each do |page| %>
            <% if page.children.published.any? %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header"><%= page.name %></h6>
              <% page.children.published.each do |subpage| %>
                <%= link_to subpage.name,
                            page_path(slug: subpage.slug),
                            class: 'dropdown-item' %>
              <% end %>
              <div class="dropdown-divider"></div>
            <% else %>
              <%= link_to page.name,
                          page_path(slug: page.slug),
                          class: 'dropdown-item' %>
            <% end %>
          <% end %>
        </div>
      </li>

    </ul>

    <% if admin_user_signed_in? %>
      <ul class="navbar-nav ml-auto text-center text-lg-left">
        <li class="nav-item dropdown">
          <%= link_to '#', class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
            <%= fas_icon_tag 'plus-square', %w(fa-lg) %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to new_admin_user_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'user-secret', %w(fa-fw mr-2) %>
              Un utilisateur
            <% end %>
            <%= link_to new_admin_player_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'user', %w(fa-fw mr-2) %>
              Un joueur
            <% end %>
            <%= link_to new_admin_duo_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'user-friends', %w(fa-fw mr-2) %>
              Un duo
            <% end %>
            <%= link_to new_admin_team_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'users', %w(fa-fw mr-2) %>
              Une équipe
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to new_admin_recurring_tournament_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'chess', %w(fa-fw mr-2) %>
              Une série
            <% end %>
            <%= link_to new_admin_tournament_event_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'chess-rook', %w(fa-fw mr-2) %>
              Une édition 1v1
            <% end %>
            <%= link_to new_admin_duo_tournament_event_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'chess-knight', %w(fa-fw mr-2) %>
              Une édition 2v2
            <% end %>
            <%= link_to new_admin_challonge_tournament_path, class: 'dropdown-item' do %>
              <img src="https://assets.challonge.com/assets/challonge_fireball_orange-a973ff3b12c34c780fc21313ec71aada3b9b779cbd3a62769e9199ce08395692.svg" height="16" class="fa-fw mr-2"/>
              Un bracket Challonge
            <% end %>
            <%= link_to new_admin_smashgg_event_path, class: 'dropdown-item' do %>
              <img src="https://smash.gg/images/gg-app-icon.png" height="16" class="fa-fw mr-2"/>
              Un bracket smash.gg
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to new_admin_discord_user_path, class: 'dropdown-item' do %>
              <%= fab_icon_tag 'discord', %w(fa-fw mr-2) %>
              Un compte Discord
            <% end %>
            <%= link_to new_admin_discord_guild_path, class: 'dropdown-item' do %>
              <%= fas_icon_tag 'cocktail', %w(fa-fw mr-2) %>
              Un serveur Discord
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to new_admin_twitch_channel_path, class: 'dropdown-item' do %>
              <%= fab_icon_tag 'twitch', %w(fa-fw mr-2) %>
              Une chaîne Twitch
            <% end %>
            <%= link_to new_admin_you_tube_channel_path, class: 'dropdown-item' do %>
              <%= fab_icon_tag 'youtube', %w(fa-fw mr-2) %>
              Une chaîne YouTube
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>

    <form class="form-inline my-2 my-lg-0 d-inline-flex" id="main-global-search-form">
      <%= select_tag :search, [],
            class: 'form-control',
            type: :search,
            placeholder: 'Recherche globale',
            'aria-label' => 'Recherche globale',
            data: { global_search: {} } %>
    </form>

    <ul class="navbar-nav ml-4 mr-2 text-center text-lg-right">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to '#', class: 'nav-link dropdown-toggle', data: {toggle: :dropdown}, role: :button, aria: {haspopup: true, expanded: false} do %>
            <%= current_user.decorate.avatar_and_name(size: 32) %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to 'Mon profil', current_user, class: 'dropdown-item' %>
            <% if current_user.administrated_teams.any? %>
              <div class="dropdown-divider"></div>
              <% current_user.administrated_teams.decorate.each do |team| %>
                <%= link_to team.full_name_with_logo(max_width: 32, max_height: 32),
                            team,
                            class: 'dropdown-item' %>
              <% end %>
            <% end %>
            <% if current_user.administrated_recurring_tournaments.any? %>
              <div class="dropdown-divider"></div>
              <% current_user.administrated_recurring_tournaments
                             .decorate
                             .each do |recurring_tournament| %>
                <%= link_to recurring_tournament.name_with_logo(
                              max_width: 32,
                              max_height: 32
                            ),
                            recurring_tournament_path(recurring_tournament),
                            class: 'dropdown-item' %>
              <% end %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Me déconnecter', destroy_user_session_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to user_discord_omniauth_authorize_path, method: :post do %>
            <%= fas_icon_tag 'sign-in-alt', %w(fa-lg) %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>

</nav>
