<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-5 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal" id="site-title">
    <%= link_to root_path do %>
      <%= image_tag 'smashtheque-64.png', width: 32 %>
      <span>Smashthèque FR</span>
    <% end %>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to 'Joueurs', players_path, class: 'p-2 text-dark' %>
    <%= link_to 'Personnages', characters_path, class: 'p-2 text-dark' %>
    <%= link_to 'Villes', cities_path, class: 'p-2 text-dark' %>
    <%= link_to 'Équipes', teams_path, class: 'p-2 text-dark' %>
  </nav>
  <%= link_to 'Admin', admin_root_path, class: 'btn btn-outline-primary' %>
</div>
