<div class="card player <%= 'with-rank' if defined?(rank) %>">
  <div class="card-body">
    <% if defined?(rank) %>
      <div class="rank">#<%= rank %></div>
    <% end %>
    <h5 class="card-title">
      <% player.teams.each do |team| %>
        <div class="player-team">
          <%= link_to team.decorate.short_name_with_logo(max_width: 32, max_height: 32), team %>
        </div>
      <% end %>
      <%= link_to player.decorate.name_with_avatar(size: 64), player, class: 'player-name' %>
    </h5>
    <% player.locations.each do |location| %>
      <div class="player-location">
        <i class="fas fa-map-marker-alt"></i>
        <%= link_to location.name.titleize, location_path(location) %>
      </div>
    <% end %>
    <% player.characters.each do |character| %>
      <%= link_to character.decorate.emoji_image_tag(max_height: '32px'), character %>
    <% end %>
  </div>
  <% if admin_user_signed_in? %>
    <%= link_to fas_icon_tag('cog'), [:admin, player], target: '_blank', class: 'admin-edit-link' %>
  <% end %>
</div>
