<div class="card player <%= 'with-rank' if defined?(with_rank) && with_rank %>">
  <div class="card-body">
    <% if defined?(with_rank) && with_rank %>
      <div class="rank">#<%= player.rank %></div>
    <% end %>
    <h5 class="card-title">
      <% player.teams.each do |team| %>
        <div class="player-team">
          <%= team.decorate.link %>
        </div>
      <% end %>
      <div class='player-name'>
        <% if player.is_legit? %>
          <%= link_to player.avatar_tag(64), player %>
          <span class="player-name-text">
            <%= link_to player.name, player %>
            <%= player.twitter_link(
              label: player.twitter_name,
              class: 'player-twitter-name'
            ) %>
          </span>
          <%= player.best_reward&.decorate&.badge(class: 'reward-badge-32') %>
        <% else %>
          <%= player.default_avatar(64) %>
          -
        <% end %>
      </div>
    </h5>
    <% if defined?(with_points) && with_points %>
      <div class="player-points">
        <%= player.points_count %>
      </div>
    <% end %>
    <% unless defined?(with_communities) && with_communities == false %>
      <% player.user&.closest_communities&.each do |community| %>
        <div class="player-community">
          <i class="fas fa-map-marker-alt"></i>
          <%= link_to community.name, community %>
        </div>
      <% end %>
    <% end %>
    <% player.characters.each do |character| %>
      <%= character.decorate.link %>
    <% end %>
  </div>
  <%= admin_edit_link(player) %>
</div>
