<article class="resource player d-flex">
  <% if defined?(with_rank) && with_rank %>
    <div class="rank">
      #<%= defined?(rank) ? rank : player.rank(
        is_online: defined?(is_online) && is_online,
        year: defined?(year) && year) %>
    </div>
  <% end %>
  <div class="resource-avatar card">
    <% if player.is_legit? %>
      <%= link_to player.avatar_tag(76), player %>
    <% end %>
  </div>
  <div class="resource-content card flex-grow-1<%= ' with-rank' if defined?(with_rank) && with_rank %>">
    <div class="card-body d-flex">
      <div class="resource-meta flex-grow-1">
        <h5 class="resource-title card-title text-truncate">
          <% if player.is_legit? %>
            <%= link_to player.name, player %>
          <% else %>
            -
          <% end %>
        </h5>
        <% if player.is_legit? && (player.country_flag || player.teams.present?) %>
          <small class="list-teams list-teams--sm player-teams align-items-center">
            <% if country_flag = player.country_flag %>
              <%= country_flag %>
              <% if player.teams.present? %>
                <span class="mx-2">/</span>
              <% end %>
            <% end%>
            <% if player.teams.present? %>
              <% player.teams[0...2].each do |team| %>
                <div class="list-team"><%= team.short_name %></div>
              <% end %>
            <% end %>
          </small>
        <% end %>
        <% if defined?(with_points) && with_points %>
          <div class="player-points">
            <%= player.points_count(
              32,
              is_online: defined?(is_online) && is_online,
              year: defined?(year) && year,
              value: defined?(points) && points) %>
            <% if defined?(reward_condition) && reward_condition %>
              <span class="text-light">(+<%= reward_condition.points %>)</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if player.characters.present? %>
        <div class="list-characters-compact flex-shrink-0">
          <% player.characters[0...3].each do |character| %>
            <%= character.decorate.link %>
          <% end %>
        </div>
      <% end %>
      <% if player.is_legit? %>
        <%= link_to player, class: 'resource-link' do %>
          <span class="sr-only">Voir plus</span>
        <% end %>
      <% end %>
    </div>
    <%= admin_edit_link(player) %>
  </div>
  <% if defined?(reward_condition) && reward_condition %>
    <%= reward_condition.reward_badge %>
  <% end %>
</article>
