<div class="card player <%= 'with-rank' if defined?(with_rank) && with_rank %>">
  <div class="card-body">
    <% if defined?(with_rank) && with_rank %>
      <div class="rank">#<%= player.rank %></div>
    <% end %>
    <h5 class="card-title">
      <% player.teams.each do |team| %>
        <div class="player-team">
          <%= team.decorate.link %>
        </div>
      <% end %>
      <div class='player-name'>
        <%= player.link(avatar_size: 64) %>
        <%= player.best_reward&.decorate&.badge(class: 'reward-badge-32') %>
      </div>
    </h5>
    <% if defined?(with_points) && with_points %>
      <div class="player-points">
        <%= player.points_count %>
      </div>
    <% end %>
    <% unless defined?(with_locations) && with_locations == false %>
      <% player.locations.each do |location| %>
        <div class="player-location">
          <i class="fas fa-map-marker-alt"></i>
          <%= location.decorate.link %>
        </div>
      <% end %>
    <% end %>
    <% player.characters.each do |character| %>
      <%= character.decorate.link %>
    <% end %>
  </div>
  <%= admin_edit_link(player) %>
</div>
