<div class="card player <%= 'with-rank' if defined?(with_rank) && with_rank %>">
  <div class="card-body">
    <% if defined?(with_rank) && with_rank %>
      <div class="rank">
        #<%= (defined?(year) && year) ? player.rank_online_in(year) : player.rank_online_all_time %>
      </div>
    <% end %>
    <h5 class="card-title">
      <% player.teams.each do |team| %>
        <div class="player-team">
          <%= team.decorate.link %>
        </div>
      <% end %>
      <div class='player-name'>
        <% if player.is_legit? %>
          <%= link_to player.avatar_tag(64), player %>
          <span class="player-name-text">
            <%= link_to player.name, player %>
            <%= player.twitter_link(
              label: player.twitter_name,
              class: 'player-twitter-name'
            ) %>
          </span>
          <%= player.best_reward&.decorate&.badge(class: 'reward-badge-32') %>
        <% else %>
          <%= player.default_avatar(64) %>
          -
        <% end %>
      </div>
    </h5>
    <% if defined?(with_points) && with_points %>
      <div class="player-points">
        <%= player.points_count(32, is_online: true, year: defined?(year) && year) %>
      </div>
    <% end %>
    <% if defined?(with_addresses) && with_addresses %>
      <% player.user&.addresses&.each do |address| %>
        <div class="player-community">
          <i class="fas fa-map-marker-alt"></i>
          <%= address[:name] %>
        </div>
      <% end %>
    <% end %>
    <% if defined?(with_communities) && with_communities %>
      <% player.user&.closest_communities&.each do |community| %>
        <div class="player-community">
          <%= link_to community.decorate.name_with_logo(max_height: 32), community %>
        </div>
      <% end %>
    <% end %>
    <% player.characters.each do |character| %>
      <%= character.decorate.link %>
    <% end %>
  </div>
  <%= admin_edit_link(player) %>
</div>
