<div class="container-lg">
  <article class="show-page">
    <section class="show-page-header card">
    <div class="show-page-header-bg"
    
    style="<%=
        "background-color: #{@background_color};" if @background_color
      %><%=
        "background-image: url(\"#{@background_image_url.gsub('"', "\"")}\");" if @background_image_url
      %><%=
        "background-image: url(\"#{image_url('static-bg.png').gsub('"', "\"")}\");" if @static
      %>"
    ></div>
      <div class="show-page-header-content card justify-content-start">
        <div class="card-body d-flex">
          <div class="show-page-avatar">
            <% if player.is_legit? %>
              <%= player.avatar_tag(94) %>
            <% end %>
          </div>
          <div class="show-page-main-info">
            <h1 class="show-page-title card-title text-truncate">
              <% if player.is_legit? %>
                <%= link_to player.name, player %>
              <% else %>
                -
              <% end %>
            </h1>
            <div class="show-page-socials">
              <%= render 'player_accounts_v2', player: player %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="show-page-body card">
    </section>
  </article>
</div>