<% if !action_name.eql?('home') %>
<nav class="shortcuts d-flex d-md-none justify-content-between">
  <%= link_to players_path, class: "shortcuts-link players#{' active' if current_section?(:players)}" do %>
    <%= svg_icon_tag :groupe %>
    <span class="mt-n2">Joueurs <br/>& Cie</span>
  <% end %>
  <%= link_to players_path, class: "shortcuts-link championship#{' active' if current_section?(:championship)}" do %>
    <%= svg_icon_tag :trophee %>
    <span>Tournois</span>
  <% end %>
  <%= link_to players_path, class: "shortcuts-link smashtheque-tv#{' active' if current_section?(:smashtheque_tv)}" do %>
    <%= svg_icon_tag :tv %>
    <span>ST<sup>TV</sup></span>
  <% end %>
  <%= link_to players_path, class: "shortcuts-link rosalina#{' active' if current_section?(:rosalina)}" do %>
    <%= svg_icon_tag :telescope %>
    <span>Observatoire</sup></span>
  <% end %>
</nav>
<% end %>
