<nav class="shortcuts d-flex d-sm-none justify-content-between">
  <%= link_to players_path, class: 'shortcuts-link players' do %>
    <%= render partial: 'shared/icons/groupe' %>
    <span class="mt-n2">Joueurs <br/>& Cie</span>
  <% end %>
  <%= link_to players_path, class: 'shortcuts-link championship' do %>
    <%= render partial: 'shared/icons/trophe' %>
    <span>Tournois</span>
  <% end %>
  <%= link_to players_path, class: 'shortcuts-link smashtheque-tv' do %>
    <%= render partial: 'shared/icons/tv' %>
    <span>ST<sup>TV</sup></span>
  <% end %>
  <%= link_to players_path, class: 'shortcuts-link harmony' do %>
    <%= render partial: 'shared/icons/telescope' %>
    <span>Observatoire</sup></span>
  <% end %>
</nav>