<h1 class="page-title">Serveurs Discord</h1>

<ul class="nav nav-tabs justify-content-center mt-4 mb-4" id="discord-guild-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <%= link_to 'Personnages',
                characters_discord_guilds_path,
                class: "nav-link #{:active if params[:action].to_sym == :characters}" %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to 'Joueurs',
                players_discord_guilds_path,
                class: "nav-link #{:active if params[:action].to_sym == :players}" %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to 'Équipes',
                teams_discord_guilds_path,
                class: "nav-link #{:active if params[:action].to_sym == :teams}" %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to 'Localisations',
                communities_discord_guilds_path,
                class: "nav-link #{:active if params[:action].to_sym == :communities}" %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to 'Autres',
                others_discord_guilds_path,
                class: "nav-link #{:active if params[:action].to_sym == :others}" %>
  </li>
</ul>

<div class="tab-content">

  <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="characters-tab">
    <%= render 'discord_guilds/discord_guilds', discord_guilds: @discord_guilds %>
  </div>

</div>
