<%# DISCORD %>

<% if defined?(discord_guilds) %>
  <% if defined?(short) && short %>
    <% if discord_guilds.count > 1 %>

      <div class="discord btn-group dropleft">
        <%= link_to '#',
                    class: 'btn btn-sm btn-dark rounded-pill dropdown-toggle',
                    id: 'socials-mobile',
                    data: { toggle: :dropdown },
                    aria: { expanded: :false } do %>
          <%= svg_icon_tag :discord, class: "ml-1" %>
          <span class="sr-only">Discord</span>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="socials-mobile">
          <% discord_guilds.decorate.each do |discord_guild| %>
            <%= link_to discord_guild.name_or_id,
                        discord_guild.invitation_url,
                        class: 'dropdown-item',
                        target: '_blank',
                        rel: 'noopener noreferrer' %>
          <% end %>
        </div>
      </div>

    <% elsif discord_guilds.count > 0 %>

      <% discord_guild = discord_guilds.first.decorate %>
      <%= link_to discord_guild.invitation_url, target: '_blank', rel: 'noopener noreferrer' do %>
        <%= svg_icon_tag :discord %>
        <span class="sr-only">Discord</span>
      <% end %>

    <% end %>
  <% else %>
    <% if discord_guilds.count > 1 %>

      <div class="show-page-side-link btn-group btn-group-sm">
        <% discord_guild = discord_guilds.first.decorate %>
        <%= link_to discord_guild.invitation_url,
                    class: 'btn btn-sm btn-dark btn--with-icon font-weight-bold pl-2 text-truncate',
                    target: '_blank',
                    rel: 'noopener noreferrer' do %>
          <%= svg_icon_tag :discord, class: 'mr-1' %>
          Discord
        <% end %>
        <div class="btn-group btn-group-sm" role="group">
          <button id="socials-desktop" type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="socials-desktop">
            <% discord_guilds.decorate.each do |discord_guild| %>
              <%= link_to discord_guild.name_or_id,
                          discord_guild.invitation_url,
                          class: 'dropdown-item',
                          target: '_blank',
                          rel: 'noopener noreferrer' %>
            <% end %>
          </div>
        </div>
      </div>

    <% elsif discord_guilds.count > 0 %>

      <% discord_guild = discord_guilds.first.decorate %>
      <%= link_to discord_guild.invitation_url,
                  class: 'show-page-side-link btn btn-sm btn-dark btn--with-icon rounded-pill font-weight-bold pl-2 text-truncate',
                  target: '_blank',
                  rel: 'noopener noreferrer' do %>
        <%= svg_icon_tag :discord, class: 'mr-1' %>
        <%= discord_guild.name_or_id %>
      <% end %>

    <% end %>
  <% end %>
<% end %>