<h1 class="page-title index-title sr-only">Communautés locales</h1>
<div class="container-xl mt-lg-5">
  <div class="row flex-nowrap align-items-start flex-column flex-lg-row">

    <%= render 'layouts/application_v2/players/index_nav' %>

    <div class="col">
      <div class="row flex-column flex-lg-row align-items-start">
        <div id="index-filters" class="col-12 col-xl-auto order-xl-1">
          <section class="index-section my-2 my-md-3 mt-xl-0 py-1 pl-3 pr-1 py-md-2 pr-md-2 pl-md-2 py-xl-0 px-xl-0 d-flex d-xl-block flex-wrap align-items-center shadow-lg bg-bg bg-lg-none rounded-pill">
            <small class="text-muted d-inline-block d-xl-none"><%= @communities.total_count %> résultat(s)</small>
            <div role="group" class="ml-auto btn-group btn-group-sm players d-flex d-xl-none">
              <%= link_to url_with(action: :index), class: "btn#{action_name.eql?('index') ? ' active' : ''}" do %>
                <%= svg_icon_tag :liste %>
                <span class="sr-only">Liste</span>
              <% end %>
              <%= link_to url_with(action: :map), class: "btn#{action_name.eql?('map') ? ' active' : ''}" do %>
                <%= svg_icon_tag :map %>
                <span class="sr-only">Carte</span>
              <% end %>
            </div>
            <button @click="filtersVisible = true" type="button" class="btn btn-dark btn-sm btn-with-icon rounded-pill players ml-3<%= ' active' if params[:on_abc] %> d-flex d-xl-none">
              <%= svg_icon_tag :filtre %> Filtres<%= ' (1)' if params[:on_abc] %>
            </button>
            <slide-out dock="bottom" :visible.sync="filtersVisible" :size="[0]" :arrow-button="false" title="Filtres">
              <template #header>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="m-0">
                    <%= svg_icon_tag :filtre %> Filtres<%= ' (1)' if params[:on_abc] %>
                  </p>
                  <button @click="filtersVisible = false" type="button" class="btn btn-sm btn-icon rounded-circle ml-3">
                    <%= svg_icon_tag :croix %>
                    <span class="sr-only">Fermer</span>
                  </button>
                </div>
              </template>
              <section class="mb-n4">
                <h5><%= svg_icon_tag :abcd %> Abécédaire</h5>
                <%= render 'shared/letters' %>
              </section>
            </slide-out>
          </section>
        </div>
        <div class="col">
          <section class="py-3 d-none d-xl-flex flex-wrap align-items-center">
            <small class="text-muted"><%= @communities.total_count %> résultat(s)</small>
            <div role="group" class="ml-auto btn-group btn-group-sm players">
              <%= link_to url_with(action: :index), class: "btn#{action_name.eql?('index') ? ' active' : ''}" do %>
                <%= svg_icon_tag :liste %>
                <span class="sr-only">Liste</span>
              <% end %>
              <%= link_to url_with(action: :map), class: "btn#{action_name.eql?('map') ? ' active' : ''}" do %>
                <%= svg_icon_tag :map %>
                <span class="sr-only">Carte</span>
              <% end %>
            </div>
            <div class="ml-3">
              <%= render 'shared/pagination_v2', collection: @communities %>
            </div>
          </section>
          <div class="players list row">
            <% @communities.each do |community| %>
              <div class="col-12 col-lg-6">
                <%= render 'communities/community_v2', community: community.decorate %>
              </div>
            <% end %>
          </div>
          <div class='my-4'>
            <%= render 'shared/pagination_v2', collection: @communities %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
