<div class="container-lg">
  <% if admin_user_signed_in? %>
    <div class="text-right my-3 mb-n3">
      <%= admin_edit_link(@community, label: 'Admin', class: 'btn btn-sm btn-light rounded-pill') %>
    </div>
  <% end %>
  <article class="show-page">
    <section class="show-page-header card">
      <div class="show-page-header-bg show-page-header-bg--lg"></div>
      <div class="show-page-header-body card justify-content-start without-desktop-socials">
        <div class="show-page-header-content card-body">
          <div class="show-page-avatar">
            <%= @community.avatar_tag(max_height: 94) %>
          </div>
          <div class="show-page-main-info">
            <h1 class="show-page-title card-title">
              <%= @community.name.titleize  %>
            </h1>
            <% unless community.ranking_url.blank? %>
              <%= link_to community.ranking_url,
                          class: 'show-page-meta text-body font-weight-normal py-1 badge badge-pill mt-2',
                          target: '_blank',
                          rel: :noopener do %>
                <%= svg_icon_tag :link, class: 'mr-2' %>Power Ranking
              <% end %>
            <% end %>
          </div>
          <div class="show-page-side">
            <div class="show-page-side-links list-y flex-column">
              <%= render  'shared/page_side_links/page_side_links',
                          record: community,
                          twitch_channels: community.twitch_channels,
                          you_tube_channels: community.you_tube_channels,
                          discord_guilds: community.discord_guilds %>
            </div>
          </div>
          <div class="show-page-socials bg-layout bg-md-layout-dark d-flex d-md-none align-items-center">
            <%= render  'shared/page_socials_links',
                        record: community,
                        twitch_channels: community.twitch_channels,
                        you_tube_channels: community.you_tube_channels,
                        discord_guilds: community.discord_guilds %>
          </div>
        </div>
      </div>
    </section>
    <nav class="show-page-nav section-nav players d-lg-none">
      <div class="section-nav-wrapper">
        <scrollactive
          ref="scrollactive"
          :active-class="'active'"
          :offset="116"
        >
          <div class="section-nav-bg shadow-lg">
            <%= link_to community_path(@community, anchor: 'top-8-offline'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :groupe %>
              <span>Top 8 offline</span>
            <% end %>
            <%= link_to community_path(@community, anchor: 'tournois-reguliers'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :groupe %>
              <span>Séries de tournois</span>
            <% end %>
            <%= link_to community_path(@community, anchor: 'TO'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :joueur %>
              <span>TOs</span>
            <% end %>
            <%= link_to community_path(@community, anchor: 'admins-locaux'), class: "section-nav-link scrollactive-item" do %>
              <%= svg_icon_tag :groupe %>
              <span>Représentants locaux</span>
            <% end %>
          </div>
        </scrollactive>
      </div>
    </nav>
    <section class="show-page-body card">
      <div class="show-page-content card-body">
        <div class="row">
          <div class="col-lg-6">
            <section id="top-8-offline" class="show-page-section">
              <div class="show-page-section-title flex-wrap">
                <h2>Top 8 offline</h2>
                <span class="show-page-section-title-separator mr-3"></span>
              </div>
              <div class="show-page-section-body mt-3">
                <% if @offline_top_8_players.any? %>
                  <div class="list">
                    <% @offline_top_8_players.each do |player| %>
                      <%= render  'players/player_v2',
                                  player: player.decorate,
                                  is_online: false,
                                  with_points: true,
                                  with_rank: true %>
                    <% end %>
                  </div>
                <% else %>
                  -
                <% end %>
              </div>
            </section>
          </div>
          <div class="col-lg-6">
            <section id="tournois-reguliers" class="show-page-section mt-4 mt-md-0">
              <div class="show-page-section-title">
                <h2>Tournois réguliers</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body mt-3">
                <% if @community_recurring_tournaments.any? %>
                  <div class="list">
                    <% @community_recurring_tournaments.first(3).each do |recurring_tournament| %>
                      <%= render  'recurring_tournaments/recurring_tournament_v2',
                                  recurring_tournament: recurring_tournament.decorate %>
                    <% end %>
                  </div>
                  <% if @community_recurring_tournaments.count > 3 %>
                    <div class="text-right mt-3">
                      <%= link_to 'Voir plus',
                                  recurring_tournaments_path(by_closest_community_id: community.id),
                                  class: 'btn btn-sm bg-layout rounded-pill' %>
                    </div>
                  <% end %>
                <% else %>
                  -
                <% end %>
              </div>
            </section>
            <section id="TO" class="show-page-section mt-4">
              <div class="show-page-section-title">
                <h2>TOs</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body mt-3">
                <% if @community_tos.any? %>
                  <div class="list">
                    <% @community_tos.first(3).each do |user| %>
                      <% if player = user.player %>
                        <%= render 'players/player_v2', player: player.decorate, with_roles: true %>
                      <% else %>
                        <%= render 'users/user', user: user.decorate %>
                      <% end %>
                    <% end %>
                  </div>
                  <% if @community_tos.count > 3 %>
                    <div class="text-right mt-3">
                      <%= link_to 'Voir plus',
                                  contacts_recurring_tournaments_path(by_community_id: community.id),
                                  class: 'btn btn-sm bg-layout rounded-pill' %>
                    </div>
                  <% end %>
                <% else %>
                  -
                <% end %>
              </div>
            </section>
            <section id="admins-locaux" class="show-page-section mt-4">
              <div class="show-page-section-title">
                <h2>Représentants locaux</h2>
                <span class="show-page-section-title-separator"></span>
              </div>
              <div class="show-page-section-body mt-3">
                <% if @community_admins.any? %>
                  <div class="list">
                    <% community.admins.each do |user| %>
                      <% if player = user.player %>
                        <%= render 'players/player_v2', player: player.decorate, with_roles: true %>
                      <% else %>
                        <%= render 'users/user', user: user.decorate %>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  -
                <% end %>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
