<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= render partial: 'layouts/application/meta' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag '/favicon-32.png' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <%= google_places_api_tag %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body style="<%=
    "background-color: #{@background_color};" if @background_color
  %><%=
    "background-image: url(\"#{@background_image_url.gsub('"', "\"")}\");" if @background_image_url
  %><%=
    "background-size: #{@background_size}px;" if @background_image_url
  %><%=
    "background-image: url(\"#{image_url('static-bg.png').gsub('"', "\"")}\");" if @static
  %>" <% if @static %>class="static"<% end %>>
    <%= render partial: 'layouts/application/flash', flash: flash %>
    <%= render partial: 'layouts/application/head' %>

    <div class="container-fluid" id="main-container">
      <% if @static %>
        <div class="d-flex justify-content-center my-5 mx-3">
          <div class="bg-semi-transparent shadow p-3 p-md-5 rounded"
               style="width: 100%; max-width: 1024px;">
            <% end %>
            <%= yield %>
            <% if @static %>
          </div>
        </div>
      <% end %>
    </div>

    <%= render partial: 'layouts/application/footer' %>
  </body>
</html>
