<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smashthèque</title>
    <meta name="description" content="La base de données de la communauté Super Smash Bros. Ultimate de France, fondée par le Rétropen-Bar et également administrée par red, Moon Key, Nixop et MIDZ.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.smashtheque.fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Smashthèque">
    <meta property="og:description" content="La base de données de la communauté Super Smash Bros. Ultimate de France, fondée par le Rétropen-Bar et également administrée par red, Moon Key, Nixop et MIDZ.">
    <meta property="og:image" content="<%= image_url 'smashtheque-800x420.png' %>">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="smashtheque">
    <meta property="twitter:domain" content="smashtheque.fr">
    <meta property="twitter:url" content="https://www.smashtheque.fr">
    <meta name="twitter:title" content="Smashthèque">
    <meta name="twitter:description" content="La base de données de la communauté Super Smash Bros. Ultimate de France, fondée par le Rétropen-Bar et également administrée par red, Moon Key, Nixop et MIDZ.">
    <meta name="twitter:image" content="<%= image_url 'smashtheque-800x420.png' %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag '/favicon-32.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="<%=
    "background-color: #{@background_color};" if @background_color
  %><%=
    "background-image: url(\"#{@background_image_url.gsub('"', "\"")}\");" if @background_image_url
  %><%=
    "background-size: #{@background_size}px;" if @background_image_url
  %>" <% if @static %>class="static"<% end %>>
    <%= render partial: 'layouts/application/flash', flash: flash %>
    <%= render partial: 'layouts/application/head' %>

    <div class="container-fluid" id="main-container">
      <% if @static %>
        <div class="d-flex justify-content-center my-5 mx-3">
          <div class="bg-semi-transparent shadow p-3 p-md-5 rounded"
               style="width: 100%; max-width: 1024px;">
            <% end %>
            <%= yield %>
            <% if @static %>
          </div>
        </div>
      <% end %>
    </div>

    <%= render partial: 'layouts/application/footer' %>
  </body>
</html>
