<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smashthèque</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag '/favicon-32.png' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body class="map-layout">
    <%= render partial: 'layouts/application/flash', flash: flash %>
    <%= render partial: 'layouts/application/head' %>

    <%= yield %>

    <div id="map-modal" class="modal fade" tabindex="-1" aria-hidden="true"></div>

    <%= render partial: 'layouts/map/footer' %>
  </body>
</html>
