<section class="d-flex justify-content-center mx-n1 text-center">
  <div class="card card-box card-box--sm card-box--square card-box--stat flex-grow-1 mx-1">
    <h3 class="sr-only">Meilleurs badges</h2>
    <div class="card-body">
      <div class="card-content">
        <% if rewards_counts.any? %>
          <%== awarded.best_rewards_badges(is_online: is_online, class: 'card-box-icon')&.first %>
          <button type="button"
                  class="btn btn-dark btn-sm rounded-pill"
                  data-toggle="modal"
                  data-target="#<%= modal_id %>">
            Voir tout
          </button>
          <button class="btn btn-sm btn-see-more btn-see-more--horizontal" data-toggle="modal" data-target="#<%= modal_id %>">
            <span class="sr-only">Voir plus</span>
            <%= svg_icon_tag(:suspension) %>
          </button>
        <% else %>
          <small class="my-auto">Aucun badge obtenu</small>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card card-box card-box--sm card-box--square card-box--stat flex-grow-1 mx-1">
    <h3 class="sr-only">Classement</h3>
    <div class="card-body">
      <div class="card-content">
        <%= svg_icon_tag(:médaille, class: 'card-box-icon') %>
        <% if rank = awarded.rank(is_online: is_online) %>
          <p class="mb-0">#<%= rank %></p>
        <% else %>
          <small>Non classé</small>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card card-box card-box--sm card-box--square card-box--stat flex-grow-1 mx-1">
    <h3 class="sr-only">Fragments d'étoiles</h3>
    <div class="card-body">
      <div class="card-content">
        <%= awarded.points_count(44, is_online: is_online, class: 'card-box-icon') %>
      </div>
    </div>
  </div>
</section>

<section class="mt-4">
  <h3 class="fs-sm mb-3">Classement par années</h3>
  <ul class="list-y list-unstyled text-center mb-0">
    <% TrackRecord.points_years.sort.reverse.each do |year| %>
      <li class="list-row list-row--3">
        <span class="list-row-col flex-grow-1"><%= year %></span>
        <span>&nbsp;•&nbsp;</span>
        <span class="list-row-col flex-grow-1 font-weight-bold text-players"><%=
          svg_icon_tag(:médaille, class: 'card-box-icon') %>&nbsp;<%=
          (rank = awarded.rank(is_online: is_online, year: year)) ? "##{rank}" : '-'
        %></span>
        <span>&nbsp;•&nbsp;</span>
        <span class="list-row-col flex-grow-1"><%=
          awarded.points_count(16, year: year, is_online: is_online, class: 'card-box-icon', delimiter: '&nbsp;')
        %></span>
      </li>
    <% end %>
  </ul>
</section>
