<section class="d-flex justify-content-center mx-n1 text-center">
  <%= render 'shared/rewards/best_badge_card',
             rewards_counts: rewards_counts,
             awarded: awarded,
             is_online: is_online,
             modal_id: modal_id %>
  <%= render 'shared/rewards/ranking_card',
             awarded: awarded,
             is_online: is_online %>
  <%= render 'shared/rewards/points_count_card',
             awarded: awarded,
             is_online: is_online %>
</section>

<section class="mt-4">
  <h3 class="fs-sm mb-3">Classement par années</h3>
  <ul class="list-y list-unstyled text-center mb-0">
    <% TrackRecord.points_years.sort.reverse.each do |year| %>
      <li class="list-row list-row--3">
        <span class="list-row-col flex-grow-1"><%= year %></span>
        <span>&nbsp;•&nbsp;</span>
        <span class="list-row-col flex-grow-1 font-weight-bold text-accent"><%=
          svg_icon_tag(:médaille, class: 'card-box-icon') %>&nbsp;<%=
          (rank = awarded.rank(is_online: is_online, year: year)) ? "##{rank}" : '-'
        %></span>
        <span>&nbsp;•&nbsp;</span>
        <span class="list-row-col flex-grow-1"><%=
          awarded.points_count(16, year: year, is_online: is_online, class: 'card-box-icon', delimiter: '&nbsp;')
        %></span>
      </li>
    <% end %>
  </ul>
</section>
